<p>Esta no es solamente la historia de una familia. Ochenta años después de que su abuela Jesusita llegara a EEUU, Jane Shanahan se acercó a UNL con una colección de documentos que quería traducir. El resultado de ese esfuerzo inicial es este archivo digital que reúne los documentos y correspondencia de algunos miembros de tres generaciones de la misma familia. Este es un proyecto interdisciplinario, colaborativo y bilingüe que nos permite aprender sobre lengua, cultura y sociedad. Al manipular estos objetos podemos saber más sobre diferentes aspectos de la experiencia mexicanoamericana en el Midwest.</p>  

<p>Searchbox</p>


