<div id="footer">
  <div class="container">
    <div class="footer_info">
      <%# TODO image for CC license %>
      <p><%= t "general.footer_html" %></p>
      <p><%= t "general.cdrh_link_html" %></p>
      <p>TODO [UNL LOGO, HUMANITIES NEBRASKA LOGO]</p>
      <div class="footer_logo">
        <a href="http://www.unl.edu" rel="external"><%= image_tag 'footer_logo.png' %></a>
      </div>
    </div><!-- /footer_info -->
  </div> <!-- /container -->
</div><!-- /footer -->
