<%# passes in "lesson" as a number representing the current page's lesson %>

<div class="more_lesson_plans">
  <h2>More lesson plans</h2>

  <div class="pull-left">
    <% (1..5).each do |num| %>
      <% next if num == lesson %>
      <%= link_to t("learn.lesson0#{num}.title"), send("learn_lesson0#{num}_path"),
                  class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
