<h3><%= t "learn.lesson_plans.overview" %></h3>

<ol class="numbered">
  <li><a href="#antes">Antes de empezar</a></li>
  <li><a href="#continuar">Para continuar la conversación</a></li>
  <li><a href="#mira">Mira otra vez, mira más de cerca</a></li>
  <li><a href="#manos">Después de leer: ¡manos a la obra!</a></li>
  <li><a href="#grammar">Focus on Grammar</a></li>
  <li><a href="#language">Focus on Language</a></li>
  <li><a href="#paso">Un paso más: en comunidad</a></li>
  <li><a href="#rabbit">Down the rabbit, whole...</a></li>
</ol>

<br>
