<h3 id="antes" class="lesson_section">Antes de empezar</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>The focus of this instructional sequence is intergenerational maintenance and loss of Spanish in Latinx families. With your help, students will reflect about what is lost, beyond language, when two or more generations of the same family cannot communicate with each other. As a secondary goal, students will practice making comparisons in Spanish.</p>

<p><strong>Step 1.</strong> In class. Begin this sequence by centering the conversation on the topic of family. <em> ¿Quién es tu familia? ¿A quiénes consideras tu familia? ¿Hay alguna persona a quien consideres familia aunque no los una un lazo de parentesco formal?</em> Highlight the ways in which families change over time, and the many configurations of Latinx families. Consider displaying family vocabulary on the board. Consider highlighting differences in register: <em> bien bonito/muy bonito/rebonito, más chiquito/más pequeño, se ve bien/se mira bien, etc. </em></p>

<p><strong>Step 2.</strong> Present your students with the following questions and give them a few minutes to think about their answers: <em>¿Qué es algo que haces con tu familia que te hace sentirte parte de tu familia, y qué es algo que haces que es solo tuyo, que te hace sentirte como individuo?</em> Let students know that the activity doesn’t have to be formal or complicated. It can be something as simple as playing cards, telling jokes or cooking together. In two rounds, allow each student in your class to answer each of these two questions.</p>

<p><strong>Step 3.</strong> Tie it together. Repeat a few of the answers that your students have just given you.  Go around the room once more and ask a third question: <em>Qué interesante. A tu familia le gusta jugar a las cartas. ¿Qué juegan? ¿Quién te enseñó a jugar? ¿Crees que podría haberte enseñado sin hablar?</em> etc. Make the connection between language and intergenerational cultural transmission. Let your students know that part of your conversation for the day will be an exploration of what is lost when a family language is lost. </em></p>
