<h3 id="continuar">Para continuar la conversación</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students will analyze a set of three related images and will practice making comparisons in Spanish. Present your students with a set of three related wedding portraits (P128 and P33). Two of them were taken in Colorado, in the 1940s, to commemorate the wedding of Jesusita Baros Torres’ two eldest children. The third one (P36), was taken in Zacatecas, Mexico, in the 1960s to commemorate the wedding of Jesusita Baros Torres’ grandson. Connect this activity to the topic of change that happens in families across time, and location. Present each image individually and then the three images side by side. Explain who is depicted and where were the images taken. Allow students enough time to analyze each image. Ask students to make notes on setting, clothing, stance, facial expression, position of bodies in relation to each other, age, elements that are present in the three images and elements that may be present in one but missing on the others.</p>

<p>Consider displaying on the board a list of 5-10 phrases that your students can use to compare the images they are seeing. Depending on the composition of your class, you may wish to have students work in pairs or small groups. After they’ve finished their work, ask students to share their comparisons, and to explain what they think those comparisons tell them about the persons in the photos.</p>
