<h3 id="grammar" class="lesson_section">Focus on grammar: Use of preterite and imperfect to describe past events</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Before students begin to write their texts, review with them the difference in the use of preterite and imperfect to describe past events.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Ahora vamos a practicar nuestras habilidades de lectura y escritura. Después de leer la carta que le escribió Jesusita Baros Torres a su hija Santos en 1966, vas a escribir un texto en español de entre 1-2 páginas en el que vas a comparar la experiencia lingüística de estas dos mujeres. Usa las pistas que aparecen en la carta y lo que ya conoces sobre la experiencia de ser hispanohablante en Estados Unidos para comparar las posibles ideas de madre e hija sobre los beneficios y costos de hablar español tanto en su propio hogar como en la comunidad en donde vivían.</p>

<p>Después de escribir, verifica que usaste el pretérito, para hablar de cosas que ocurrieron una vez en el pasado (o que tienen principio y fin claros), y el imperfecto, para hablar de cosas que ocurrieron muchas veces en el pasado (o que no tienen un principio y un fin claro).</p>

<table class="table table-responsive table-striped">
  <tr>
    <th><strong>Pretérito</strong></th>
    <th><strong>Imperfecto</strong></th>
  </tr>
  <tr>
    <td><p><em>Cosas que ocurrieron una vez en el pasado o que tienen un principio y un fin claros</em></p></td>
    <td><p><em>Cosas que ocurrieron muchas veces en el pasado o que no tienen un principio y un fin claros</em></p></td>
  </tr>
  <tr>
    <td><p>Jesusita le escribió una carta a Santos el jueves pasado.</p></td>
    <td><p>Jesusita le escribía una carta a Santos cada jueves.</p></td>
  </tr>
</table>
