<h3 id="paso" class="h5">Un paso más: en comunidad</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Santos Baros y William F. Schubert se casaron en Denver, Colorado, en noviembre de 1946. En ese año, Santos trabajaba en Denver, limpiando vagones en los trenes Santa Fe Zephyr, Denver Zephyr y Texas Zephyr. Bill acababa de salir del ejército, y trabajaba en Chicago, Illinois, para una compañía de ferrocarril.</p>

<p>Más de setenta años después, gracias a las cartas que preservó Jane Shanahan, una de sus hijas, sabemos que entre marzo y noviembre de ese año, Santos y Bill se escribieron cartas de amor todos los días. También sabemos que Santos le escribía a Bill antes y después del trabajo, y que le gustaba incluir en sus cartas nombres de canciones que había oído en la radio y que le gustaban o le hacían pensar en él.</p>

<p>Por cierto, en junio de 1946, desafiando muchas de las convenciones de la época, Santos y Bill decidieron que Santos viajara en tren hasta Chicago para poder verse. Santos invitó a su amiga Mary, porque no quería viajar sola, pero en el último momento Mary decidió no ir con ella. A mitad del camino, a Santos le dio miedo seguir sola, y se detuvo en Lincoln, Nebraska, donde se quedó unos días en casa de Gwendolyn y John James Schubert, papás de su prometido. Bill pidió permiso en el trabajo y viajó hasta Lincoln para verla. Esa fue la primera vez que Santos conoció a su familia política, y la primera vez que visitó Lincoln, la ciudad en donde criaría a sus hijos y viviría toda su vida de casada.</p>

<p>Esta es una lista de algunas canciones que aparecen en las cartas de Santos a Bill fechadas entre marzo y noviembre de 1946:</p>

<div class="row">
  <ol class="numbered">
    <div class="col-md-6">
      <li>Te quiero</li>
      <li>I Walk Alone Again</li>
      <li>The Gypsy</li>
      <li>Day by Day (Frank Sinatra)</li>
      <li>I’ll be loving you Always</li>
      <li>All Through the Day</li>
      <li>Stardust (Frank Sinatra)</li>
      <li>Oh! What it Seemed to Be! (Frank Sinatra)</li>
      <li>Begin the Beguine (Frank Sinatra)</li>
      <li>I’ll Buy that Dream</li>
      <li>In Love in Vain</li>
      <li>I’ll Get By</li>
    </div>
    <div class="col-md-6">
      <li>I’m Confessing that I love You, Honest I do</li>
      <li>I Love You Truly</li>
      <li>Let me Call You Sweetheart</li>
      <li>You’re Always in My Heart</li>
      <li>I’m a Big Girl Now</li>
      <li>Embraceable You</li>
      <li>Full Moon and Empty Arms</li>
      <li>Come Rain or Come Shine</li>
      <li>You Belong to my Heart  (Xavier Cugat and Bing Crosby)</li>
      <li>Laughing on the Outside</li>
      <li>I’m in the Mood for Love</li>
      <li>Just You Wait and See</li>
    </div>
  </ol>
</div>

<br>

<p> <em>Opción #1</em> Prepara un playlist (lista de reproducción), con cinco canciones de esta lista. Puedes usar el servicio de transmisión de música en línea (music streaming), que prefieras. Escucha tu playlist y compártelo con tus compañeros. Cada persona puede dedicar algunos minutos para describir cómo es y qué dice la canción de su playlist que más les gustó o les pareció más interesante, más extraña, más chistosa, etc.</p>

<p> <em>Opción #2</em> Elige un año que haya sido significativo para ti. Por ejemplo, el año en que tuviste tu primer@ novi@, el año en que te graduaste, el año en que te mudaste a otra ciudad, el año en que sacaste tu permiso para conducir, etc. Prepara un playlist con cinco canciones que fueron un éxito ese año. Escucha tu playlist y compártelo con tus compañeros. Cada persona puede dedicar algunos minutos para describir cómo es y qué dice la canción de su playlist que más les recuerda ese año.</p>
