<%= render "learn/lessons_shared/rabbit_hole" %>

<p>¿Qué tienen en común las palabras <em>boda</em>, <em>voto</em> y <em>votar?</em> ¡Psst! Una pista: Una manera muy fácil de encontrar el significado de una palabra es colocar en tu buscador de internet: etimología + [palabra]</p>
