<%= render "teach/lessons_shared/rabbit_hole" %>

<p>La pintora mexicanoamericana Carmen Lomas Garza nació en Kingsville, Texas en 1948. Sus cuadros, famosos en todo el mundo, reflejan una fuerte influencia del arte popular mexicano. Las pinturas de Lomas Garza retratan escenas de la vida cotidiana en la comunidad mexicanoamericana de Kingsville en la primera mitad del siglo XX. </p>

<p>El cuadro <em>Cakewalk</em> parece, a primera vista, un día de fiesta común y corriente. En realidad, este cuadro retrata un evento para recaudar fondos para la organización American GI Forum. Usa Google Images para ver una copia de cuadro. ¿Qué ves? Mira bien los detalles. ¿Qué te llama la atención? ¿Qué es el American GI Forum? ¿Por qué es importante para la historia de las comunidades mexicanoamericanas?</p>
