<h3 id="antes" class="lesson_section">Antes de empezar</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>The focus of this instructional sequence is the importance of religion for many Latinx families and communities. In this lesson, students manipulate a set of digital objects related to the religious practice of one Mexican American woman, and make inferences about her social experience.</p>

<p><strong>Step 1.</strong> In class. Begin the conversation by highlighting the diversity of religious experience among Latinx. Highlight the fact that although the majority of Latin@s in the US are Catholic or Christian, there are also Jewish, Muslim, Buddhist Latin@s, as well as Latin@s who ascribe to other systems of belief, and Latin@s who do not practice any religion at all. Consider enriching your class discussion with data from the <em><a href="https://www.pewforum.org/religious-landscape-study/" target="_blank" rel="nofollow noreferrer">Religious Landscape Study</a></em> published online by the Pew Hispanic Research Center.</p>

<p><strong>Step 2.</strong> Without giving them more details, tell students that you are about to show them a personal object belonging to someone for whom religion was very important. Tell them that they will be working in small groups to examine its materials, composition, use, wear, etc. to find out what the object tells them about the life of its owner.</p>

<p><strong>Step 3.</strong> Organize students into smaller groups. Display or write on the board 10-15 vocabulary items and 3-5 phrases in Spanish that will help students present their inferences to the rest of the class. A few ideas: <em>Me parece que… , podría ser que…, es posible que…, quizá sea porque...</em></p>

<p><strong>Step 4.</strong> Give students time to manipulate the two digital images of Jesusita Baros Torres’ rosary. Ask them to zoom in on the details, and to look at both sides of the object. Ask them to jot down what they see, what comes to their minds. What is this, and who does it belong to? Does it look like something you own or you know? As your students work, walk among the groups and ask questions that invite them to look closely at the details in the image. For example: <em>Si ves muy de cerca, ¿Qué notas en cada nudo? ¿De qué está cubierto? ¿Qué es? ¿Es algún tipo de grasa? ¡Qué interesante! ¿Por qué crees que cada nudo está cubierto de grasa? ¿Te parece un objeto de decorativo, o un objeto que se usó muchas veces?</em></p>

<p><strong>Step 5.</strong> Each group shares with the rest of the class, in Spanish, what they think they know about that object and its owner. If needed, consider reminding students to make use of the vocabulary and the phrases you’ve listed on the board.</p>

<p><strong>Step 6.</strong> Tell students that the picture they’ve just analyzed  is an image of the personal rosary of Jesusita Baros Torres, a Mexican American woman who migrated to the United States with her two youngest children from Jalpa, Zacatecas, México, in the 1920s Explain that she belonged to her Catholic parish in Fort Lupton, Colorado, until her death in 1976. Invite students to think about the role of religion and community in the immigrant experience. If appropriate, ask your class if anyone has a story that highlights the importance of a religious community in their family’s life.</p>
