<h3 id="continuar" class="lesson_section">Para continuar la conversación</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students compare two images of similar objects and make inferences about their use and the identity of their owners. While doing so, they practice making comparisons and expressing hypotheticals in Spanish. </p>

<p>For this activity you will need to display side-by-side images of Jesusita Baros Torres’ rosary, and 18th Century silver and glass German rosary that belongs to the collection of the Victoria and Albert Museum in London. Without providing details about the provenance of the second image, invite students to compare both objects and to articulate what they think they know about the function and form of both rosaries. If appropriate, you may consider displaying on the board 3-5 phrases that will help students to make comparisons and express hypotheticals in Spanish.</p>

<p>After every student in class has contributed a comment in Spanish to this comparison, you can let your students know that it is an image of a silver filigree and Murano glass bead rosary made between 1760-1800 in the south of Germany:
  <blockquote>
    Fíjense que este de acá es un rosario muy bonito, de filigrana de plata y cuentas de vidrio de Murano, que fue hecho en el sur de Alemania entre 1760 y 1800. Filigrana, ¿conocen esa palabra? Es una palabra que viene del mundo de la joyería. Es una técnica para trabajar el metal así como en esta imagen.
  </blockquote>
  Alternatively, you may wish to show the image in the context of the <a href="http://collections.vam.ac.uk/item/O116870/rosary-unknown/" target="_blank" ref="nofollow noreferrer">museum’s website.</a>
</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Ahora vamos a comparar la imagen que acabamos de analizar con la de un objeto similar. Cuando observas las dos imágenes juntas, ¿qué sabes sobre esos dos objetos? ¿qué sabes sobre los materiales con los que fueron hechos? ¿para qué fueron hechos? ¿Qué te dicen esos dos objetos acerca de sus dueños? ¿Cómo lo sabes, qué detalles de cada imagen te hacen pensar eso? Comparte tus respuestas con tus compañeros. Si las necesitas, usa las frases que tu maestr@ escribió en el pizarrón para ayudarte.</p>
