<h3 id="grammar" class="lesson_section">Focus on grammar: Use of preterite and imperfect to describe past events</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Before students begin to write their texts, review with them the uses of the future and conditional to express probability.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Ahora vamos a practicar nuestras habilidades de lectura y escritura. Santos Baros, de Fort Lupton Colorado, y William F. Schubert, de Lincoln, Nebraska, se casaron en una ceremonia religiosa que se realizó en Denver, Colorado, el nueve de noviembre de 1946, veinte años después de la fundación de la primera parroquia latina de la arquidiócesis de Denver.</p>

<p>Lee este <a href="https://stcajetanparish.com/es/acerca/sobre-quienes-somos/" target="_blank" rel="nofollow noreferrer">texto breve <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a> sobre el papel fundamental que jugaron las mujeres mexicanoamericanas en la fundación de esa parroquia. Después de leer, escribe un texto de una página en el que respondas las siguientes dos preguntas: ¿Por qué crees que era tan importante para ese grupo de mujeres tener una parroquia en la que se ofrecieran misas en español? Hoy en día, independientemente de su denominación religiosa, por qué crees que hay en todo Estados Unidos iglesias, templos y otras comunidades religiosas que ofrecen servicios en español incluso en localidades donde el porcentaje de la población latina es bajo?</p>

<p>El escribir, no te olvides de emplear los dos usos del futuro y del condicional que acabamos de revisar: </p>

<table class="table table-responsive table-striped">
  <tr>
    <td class="col-md-6"><p><em>Condicional usado para hablar de algo que podría suceder si sucede otra cosa antes</em></p></td>
    <td class="col-md-6"><p><em>Condicional usado para especular sobre un evento pasado</em></p></td>
  </tr>
  <tr>
    <td><p>Si pudiera conversar con Jesusita, le preguntar<strong>ía</strong> <br>
    cómo eran las kermeses de su parroquia en Fort Lupton.</p></td>
    <td><p>Pablita Salas no vino a la kermés ayer, quizás estar<strong>ía</strong> de viaje.</p></td>
  </tr>
</table>

<table class="table table-responsive table-striped">
  <tr>
    <td class="col-md-6"><p><em>Futuro simple usado para hablar de algo que va a suceder</em></p></td>
    <td class="col-md-6"><p><em>Futuro simple usado para para especular sobre un evento presente</em></p></td>
  </tr>
  <tr>
    <td><p>La kermés de mañana estar<strong>á</strong> muy bonita.</p></td>
    <td><p>Pablita Salas no vino a la kermés, quizás estar<strong>á</strong> de viaje.</p></td>
  </tr>
</table>
