<div class="well">
  <h2 class="h4"><%= t "teach.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will analyze a written text and establish a connection between the text and their own experience</li>
    <li>Students will develop a written argument in which they express their personal opinion about the multiplicity of LatinX experience in the United States</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Literacy: Development of a written argument</li>
    <li>Language: Communicative functions of codeswitching</li>
    <li>Grammar: Use of imperfect subjunctive to make suggestions</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.materials" %></h2>

  <ol class="materials">
    <li><%= link_to "Digital image", item_path(id: "shan_d.059") %> of cover of citizenship study guide belonging to Mrs. Jesusita Baros, Ft. Lupton CO, 1941.</li>
    <%# TODO couldn't find this item from the specific date, anyway %>
    <li>Digital image of page 20, citizenship study guide belonging to Mrs. Jesusita Baros, Ft. Lupton CO, 1941.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>
