<h3 id="antes">Antes de empezar</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>The focus of this instructional sequence is the diversity of LatinX communities, and the right of every member of these communities, regardless of generation of arrival, legal status, linguistic ability, socioeconomic condition, national origin, sexual orientation, physical ability or religious belief, to enjoy the rights enshrined in the constitution of the United States.  </p>

<p><strong>Step 1.</strong> In class. Present students with the question: <em> ¿Qué es el sueño americano? </em> Write down answers on the board, and after every student in the class has answered in Spanish at least once, have them identify common threads: adequate housing, health, freedom of expression, opportunity, equality, good working conditions, etc. </p>

<p><strong>Step 2.</strong> In class. Present students with a second question: <em> Veamos las ideas que escribimos en el pizarrón  ¿Éste es solo el sueño americano, o es en realidad el sueño de toda la humanidad? </em> Help students make the connection that fundamental rights and wellbeing are a right and an aspiration of humanity.</p>

<p><strong>Step 3.</strong> In class. Use three of the words written on the board to highlight the diversity of LatinX experience. For example, what might the right to form a family mean to a gay LatinX couple? What might access to healthcare mean to an uninsured diabetic Latina? What might economic opportunity mean to a recent college graduate as opposed to his immigrant parents?</p>
