<h3 id="continuar">Para continuar la conversación</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this activity, students read <em> Libertad sin lágrimas </em>, by Chicano poet Alurista. The class discusses the connections that can be traced between the poem and the topic of this lesson. </p>

<p>Ask students to look at the photograph again and to tell you what they know about the people in the picture: <em> ¿Qué querían? ¿Por qué llegaron ahí? ¿De dónde llegaron? ¿Cómo era su vida? </em> </p>

<p>Tie it together. Help your students make the connection: <em>Vamos a continuar con esta idea de la que hemos estado hablando hasta ahora: Si comiste algo, alguien tuvo que producirlo. Cuando hablamos de los trabajadores agrícolas, frecuentemente pensamos en su trabajo y en lo que produce ese trabajo, pero muy pocas veces nos preguntamos cómo es su experiencia. Hoy vamos a conversar un poco sobre esa parte.</em></p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p>Alurista (Alberto Baltazar Urista Heredia), es un poeta fundacional de la literatura chicana, activista por los derechos civiles de las comunidades mexicanoamericanas y profesor universitario. El poema <em> Libertad sin lágrimas </em> , que ahora vas a leer, se publicó en 1971 y habla de la importancia de la dignidad, la libertad, y la autodeterminación para cualquier proyecto que tenga como objetivo el avance social, político y económico de estas comunidades.</p>

<p>Después de leer este poema sol@ o en grupo, hablemos de las conexiones entre el mensaje del poema y las ideas que escribimos en el pizarrón.</p>

<!--TODO figure out a way to paste text and preserve its formating as Isabel is requesting. Refer to Google Doc TEXTS FOR LEARN PAGE -->

<p class="text-center">Libertad sin lágrimas</p>
