<h3>Conexiones</h3>

<p>Las tarjetas de felicitación de esta colección nos dicen mucho sobre la época en que fueron hechas y sobre la experiencia social de quienes las mandaron y las recibieron. Nos hablan de diferentes estéticas de diseño, diferentes representaciones de la femineidad y de la masculinidad, sobre obligaciones sociales, creencias religiosas y sobre lazos familiares y de afecto. Preservan los rastros del contacto entre el español y el inglés y las características de una red social que cambió de estructura con el paso de las décadas.</p>

<p>Muy adornadas y de diseño esmerado, estas 51 tarjetas se enviaron para conmemorar cumpleaños, días festivos y otras fechas importantes; para enviar deseos de restablecimiento después de una enfermedad, y para enviar noticias a familiares y amigos que vivían lejos. Estas tarjetas cumplieron la importantísima función de mantener la conexión humana a través de la distancia.</p>

<%= yield %>
