<p>TODO design this navigation!</p>

<%= link_to t("about.team.title"), about_team_path, class: "btn btn-default" %>

<%= link_to t("about.technical.title"), about_technical_path, class: "btn btn-default" %>

<%= link_to t("about.acknowledgements.title"), about_acknowledgements_path, class: "btn btn-default" %>

<%= link_to t("about.faq.title"), about_faq_path, class: "btn btn-default" %>
