<p>We understand this project as a collaborative endeavor, and we appreciate your visit to our site. Please send us an email to <a href="mailto:mvelazquez2@unl.edu">mvelazquez2@unl.edu</a>, with the following information:</p>

<div class="well">
  <p>Name</p>
  <p>Email, telephone or address</p>

  <p>I have:</p>
  <ul class="nobullet">
    <li>[   ] Something to contribute</li>
    <li>[   ] Noticed an error</li>
    <li>[   ] Documents or photographs from my own family that I would like to include in the University of Nebraska Hispanic-Latina/o Heritage Collection</li>
  </ul>
</div>
