<p>Entendemos este proyecto como un trabajo colaborativo y agradecemos su visita a nuestro sitio. Por favor envíenos un email a <a href="mailto:mvelazquez2@unl.edu">mvelazquez2@unl.edu</a>, con la siguiente información:</p>

<div class="well">
  <p>Nombre</p>
  <p>Dirección de correo electrónico, número telefónico o dirección postal</p>

  <p>Tengo:</p>
  <ul class="nobullet">
    <li>[   ] Algo que me gustaría contribuir</li>
    <li>[   ] Idea de que hay un error y quiero hacérselos notar</li>
    <li>[   ] Documentos o fotografías de mi propia familia que me gustaría incluir en la Colección de la Herencia Hispana-Latina de la Universidad de Nebraska</li>
  </ul>
</div>
