<h2><%= t "about.technical.title" %></h2>

<%= render "about_nav" %>


<p>TODO I get the impression that the dev team needs
  to make this content so not bothering to put into 
  locales or partials yet!
</p>
<ul>
  <li>Datos</li>
  <li>Recursos</li>
  <li>Desarrollo del proyecto</li>
    <ul>
      <li>Creación de datos</li>
      <li>Descarga/Búsqueda</li>
      <li>Código de este sitio</li>
    </ul>
</ul>
