<%= render "about_nav" %>

<h1 class="h3"><%= t "about.proto.title" %></h1>
<%= t "about.proto.html" %>

<div class="dropdown" style="float: left;">
			<div class="dropdown-content">
			<a href="index_en.html">Start</a>
			<a href="entrevistadores_en.html">Interviewers</a>
			<a href="crete_en.html">Crete</a>
			<a href="hastings_en.html">Hastings</a>
			<a href="fremont_en.html">Fremont</a>
			<a href="lincoln_en.html">Lincoln</a>
		</div>