<%= render "about_nav" %>

<h1><%= t "about.technical.title" %></h1>

<h2>Data</h2>

<ul>
  <li>Text Files: <a href="https://github.com/CDRH/data_family_letters">Family Letters Data Repository</a></li>
  <li>Data Manipulation: <a href="https://github.com/CDRH/datura">CDRH Datura</a></li>
</ul>

<h2>Images</h2>

<ul>
  <li>Image Server: <a href="https://cantaloupe-project.github.io/">Cantaloupe Image Server</a></li>
  <li>Image Protocol: <a href="https://iiif.io/api/image/2.1/">International Image Interoperability Framework</a></li>
</ul>

<h2>Website Technologies</h2>

<ul>
  <li>Ruby on Rails Engine: <a href="https://github.com/CDRH/orchid">CDRH Orchid</a></li>
  <li>Framework: <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
  <li>API: <a href="https://github.com/CDRH/api">CDRH API</a></li>
  <li>Search and Browse Functionality: <a href="https://www.elastic.co/">Elasticsearch</a></li>
</ul>
