<h3 id="continuar">Para continuar la conversación</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this activity, students analyze a black and white photograph taken in 1939 at a Mexican migrant worker camp in Basin WY (ID: P119, File name: shan_p.239). Begin by telling students what they are looking at, and then allow several minutes for students to see the image without distraction. Afterwards, ask students to describe what they see (number of people, stance, physical conditions of the building, environment, etc.). Ask students if this image reminds them of any old photographs they’ve seen. Possible answers may include Dorothea Lange’s Migrant Mother, photos of African American sharecroppers during Reconstruction, photos of the United Farmworker Movement in California in the seventies. Depending on your student population, students may also mention photographs belonging to their own family.</p>

<p>Ask students to look at the photograph again and to tell you what they know about the people in the picture: <em> ¿Qué querían? ¿Por qué llegaron ahí? ¿De dónde llegaron? ¿Cómo era su vida? </em> </p>

<p>Tie it together. Help your students make the connection: <em>Vamos a continuar con esta idea de la que hemos estado hablando hasta ahora: Si comiste algo, alguien tuvo que producirlo. Cuando hablamos de los trabajadores agrícolas, frecuentemente pensamos en su trabajo y en lo que produce ese trabajo, pero muy pocas veces nos preguntamos cómo es su experiencia. Hoy vamos a conversar un poco sobre esa parte.</em></p>
