<h3 id="language">Focus on language: The concepts of dialect and sociolect</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this activity, students learn about the concepts of dialect and sociolect, and reflect upon the ways in which appreciation of linguistic diversity within Spanish-speaking communities can enrich their own experience as multilingual speakers. </p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p><strong>Para hablar de lengua: ¿Por qué hablamos de manera diferente? </strong></p>

<p>Una característica muy interesante de las comunidades hispanohablantes en los Estados Unidos es el contacto interdialectal. Esto quiere decir que, además del contacto que tenemos con personas que hablan otros idiomas, convivimos, trabajamos, y establecemos relaciones de afecto y de trabajo con hablantes de diferentes variedades de español. </p>

<p>Por ejemplo, en un día normal, una persona que vive en una familia en donde se habla español salvadoreño, comprarle el pan del desayuno a un panadero que habla español mexicano, puede compartir sus notas de clase con alguien que habla español de Nuevo México, puede compartir su turno de trabajo con alguien que habla español guatemalteco, y por la noche jugar un partido de futbol con alguien que habla español argentino. </p>

<p>Un dialecto es una forma de hablar determinada por motivos geográficos. Dicho de otra forma, un dialecto es una variedad regional de una lengua. En realidad, todos hablamos un dialecto. Aunque podemos comunicarnos con los hablantes de español de otras partes del mundo, generalmente la forma en la que hablamos va a variar (a veces mucho, a veces poco), en términos de pronunciación, vocabulario, o gramática.</p>

<p>Aunque compartimos muchas características en nuestra forma de hablar con otras personas que hablan nuestra misma variedad regional, en realidad no hablamos igual que todas las personas que nacieron en nuestra ciudad o región, porque todos hablamos un sociolecto. Un sociolecto es la forma en la que habla un grupo social particular. Esta forma de hablar está condicionada por factores como nuestro género, edad, origen urbano o rural, nivel educativo, ocupación, etc.</p>

<p>Entonces, ¿por qué hablamos español de manera diferente? Porque cuando hablamos usamos variedades regionales diferentes (dialectos), con características determinadas por nuestra identidad y experiencia social (sociolectos), y nuestras características individuales (idiolecto), en contextos, con interlocutores y para propósitos distintos (registros). Y ahí, precisamente es donde está la riqueza y la belleza de todas las formas en las que hablamos español ¿No crees?</p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Qué es un dialecto?</p>

<p>B. ¿El español mexicano y el español costarricense son dos  dialectos, o dos sociolectos distintos del español?</p>

<p>C. Una diferencia muy característica entre el español que se habla en el centro y norte de España y todas las variedades de español que se hablan en el continente americano es que el español del centro y norte de España incluye la consonante interdental sorda /θ/, representada con la letra c cuando aparece antes de las vocales e, i. Esta consonante no se produce en las variedades de español americano.</p>

<p>D. En su carta, Maximino Torres escribe: <em> “a Mama me hase fabor de desirle que no tenga pena yo boy aserlo posible amandarle algo. Y resiba de su sobrino el mas cresido afecto quien asus ordenes en lo poco que pueda” </em>. Como en el caso de muchas personas que recibieron poca educación formal, la escritura de Maximino Torres nos permite saber algunas cosas sobre cómo hablaba. Al leer este fragmento, por ejemplo, incluso si no supiéramos quién lo escribió, tendríamos muchas pistas de que no lo escribió un hablante del centro/norte de España. Vuelve a leerlo y explica por qué.</p>
