<h3 id="paso">Un paso más: en comunidad</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p>En esta actividad vamos a explorar un poco más la riqueza dialectal del español que se habla en nuestra comunidad. Como sabes, el contacto entre personas que hablan diferentes variedades del español es una de las características que hace al español de Estados Unidos tan rico e interesante.</p>

<p>Actividad 1. <em>Si vives en una comunidad donde hay una panadería latina.</em> Visita esta panadería y pregúntale a los clientes o a los panaderos por lo menos dos nombres distintos para nombrar el mismo pan. Pregúntales cuál es el nombre que usan ellos y cómo aprendieron, o quién usa el otro nombre. Beneficio adicional: podrás probar un pan muy sabroso.</p>

<p>Actividad 2. <em>Si vives en una comunidad donde no hay panadería, pero sí hay un mercadito latino.</em> Visita la sección de frutas y verduras. Lee los nombres de los productos. ¿Se llaman igual que como tú los conoces? ¿Hay algún producto que conozcas, pero que tenga un nombre distinto? ¿Hay alguna fruta o verdura que nunca hayas visto? Pregúntale a  algún cliente o a algún empleado cómo se llama, cómo se cocina y en qué tipo de platillos se utiliza. Beneficio adicional: quizá descubras tu nueva fruta favorita.</p>

<p>Actividad 3. <em>Si vives en una comunidad donde no hay ni panadería, ni mercadito latino.</em> Observa la siguiente lista de palabras en inglés y anota cómo las dirías en español. Consulta a alguna persona que hable una variedad de español diferente a la tuya. Pregúntale cómo diría esas palabras en español. Anota sus respuestas y compara las dos listas. ¿Hay alguna diferencia? Si la hay, ¿a qué la atribuyes?</p>

<p>Las palabras son éstas:</p>

<ul class="list-inline">
  <li>bean</li>
  <li>money</li>
  <li>corn</li>
  <li>child</li>
  <li>cake</li>
  <li>banana</li>
</ul>
