<%= render "teach/lessons_shared/rabbit_hole" %>

<p>En 1944, Maximino Torres vivía en Denver, Colorado. El 5 de mayo de ese año su hermano Clemente le envió una carta desde Huapamacato, Michoacán, México. En esa carta, le escribe este pasaje:</p>

<blockquote>
  <p>“Estimado Hermano.</p>
  <p>Despues de saludarte y deseando te encuentre vien como son mis deseos paso a dar contestacion a tu appreciable cartita: Pues de lo que me dices de mi tio que si murio o no mi tio ya fallecio y mi tia Gracia tambien y a Blas Ayala ya lo entreviste y le di tu domicilio , de lo que me dises del volcan, pues siertamente si fue algo prejudicial, pero no perjudico mucho a Zamora lo que si perjudica es algo a las plantas, la arena que arroja el volcán pues es algo espantoso que nos amuela demaciado, que siempre como es natural para tiempo de las aguas se calma poco y por eso es como te había dicho que mis deseos son irme aya contigo […] pero no he logrado la oportunidad de hacerlo, porque nuestro gobierno no nos ha permitido el paso de nuestro estado pues uno de los muchachos de aqui mas o menos le costo como trescientos pesos la salida para los Estados Unidos como renganchista que ya pasando como de contrabando puede costar menos pero lleva mas peligros uno pues por lo pronto e pensado aguantarla hasta que el gobierno nos permita el paso a los Estados Unidos ya que aqui se la pasa uno muy amolado […]”.</p>
</blockquote>

<p>¿De qué volcán está hablando Clemente Torres? ¿Por qué crees que ese desastre natural haya sido un detonador (trigger) para que emigraran a Estados Unidos muchas personas de la zona rural de Michoacán? Usa Google y Google Maps para ayudarte a encontrar las respuestas.</p>
