<h3 id="continuar">Para continuar la conversación</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students read <em>Libertad sin lágrimas</em>, by Chicano poet Alurista. The class discusses the connections that can be traced between the poem and the topic of this lesson.</p>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Alurista (Alberto Baltazar Urista Heredia), es un poeta fundacional de la literatura chicana, activista por los derechos civiles de las comunidades mexicanoamericanas y profesor universitario. El poema <em>Libertad sin lágrimas</em>, que ahora vas a leer, se publicó en 1971 y habla de la importancia de la dignidad, la libertad, y la autodeterminación para cualquier proyecto que tenga como objetivo el avance social, político y económico de estas comunidades.</p>

<p>Después de leer este poema sol@ o en grupo, hablemos de las conexiones entre el mensaje del poema y las ideas que escribimos en el pizarrón.</p>


<div class="poetry">
  <h5>Libertad sin lágrimas</h5>

  <div class="line">libertad sin lágrimas</div>
  <div class="line indent">sin dolor</div>
  <div class="line">and with pride</div>
  <div class="line">la Raza</div>
  <div class="line indent">nosotros</div>
  <div class="line">we won’t let it</div>
  <div class="line indent">freedom shall not escape us</div>
  <div class="line">libertad en mano</div>
  <div class="line indent">frente erecta</div>
  <div class="line">we shall</div>
  <div class="line indent">now</div>
  <div class="line">are</div>
  <div class="line indent">libres</div>
  <div class="line">albedrío of our own self assertion</div>
  <div class="line indent">and our will</div>
  <div class="line">to be men</div>
  <div class="line indent">caballeros</div>
  <div class="line">clanes tigres</div>
  <div class="line indent">proud guerrero plumaje</div>
  <div class="line">free like the eagle </div>
  <div class="line indent">y la serpiente</div>
</div>

<p>Urista Heredia, A. B. (1971). <em>Floricanto en Aztlán.</em> Chicano Cultural Center, University of California.</p>
