<h3 id="mira" class="lesson_section"> Mira otra vez, mira más de cerca</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students manipulate two digital objects from the Shannanan collection to learn about the experience of a Mexican American woman who lived during the first half of the Twentieth century. Using clues embedded in these images, they will deploy their background knowledge to make inferences about the ways in which historical period, gender, social context, legal status and economic standing helped to shape her aspirations. Students will also learn about the struggle of many immigrant families to integrate into the fabric of the communities in which they live.</p>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" ref="nofollow noreferrer">Primary Source Analysis Tool</a>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Treinta años antes de que Alurista escribiera Libertad sin lágrimas en California, Jesusita Baros Torres estaba estudiando su guía para la ciudadanía en su cocina de Fort Lupton, Colorado. Jesusita Baros Torres nació en 1896 en el pueblo minero de Jalpa, Zacatecas, México, y emigró a Estados Unidos con sus dos hijos más pequeños en la década de 1920. Aunque no tenía papeles y no hablaba inglés cuando llegó, durante más de cuarenta años crió a su familia y fue parte activa de su parroquia, de su barrio, y de la comunidad mexicana de Fort Lupton.</p>

<p>El documento que tienes frente a ti es una reproducción digital del ejemplar personal que usó para prepararse para presentar su examen de ciudadanía. Esta guía se publicó en 1941, el mismo año en el que Estados Unidos entró en la Segunda Guerra Mundial. Como muchos otros inmigrantes antes y después de ellos, Jesusita y su esposo, Maximino Torres, invirtieron mucho esfuerzo, muchas horas y mucho dinero para regularizar su estatus migratorio. Para ellos, fue un proceso que duró más de veinte años. En 1976, cuando murió, Jesusita Baros Torres había vivido ochenta años, casi cincuenta de ellos en Estados Unidos.</p>

<p>Usa las preguntas que te va a presentar tu maestr@ para ayudarte a analizar estos dos documentos.</p>

<br>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em><a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a></em>, published by the Library of Congress.</p>

<%# NOTE using "layout" instead of "partial" in order to pass the block %>
<%= render layout: "learn/lessons_shared/item", locals: {
    label: "The Constitution",
    item: @const,
    description: "Cover and page 20 of typewritten and hand-illustrated
      citizenship study guide belonging to Mrs. Jesusita Baros, Ft. Lupton CO.
      In English, with handwritten notes in pencil. Lessons for adults (first
      level). On the preamble to the Constitution of the United States.
      Prepared by Northern Colorado Teachers of Naturalization of the Adult
      Education Program (1941).",
    image_additional: @const_image
  } do %>
    <p><strong>Transcript of Cover</strong></p>
    <p>The Constitution of the United States of America. We the People. Book One. The Preamble.</p>

    <p>[Handwritten in pencil]</p>
    <p>Mrs. Jesusita Baros. Ft. Lupton, Colo.</p>

    <p><strong>Transcript of page 20</strong></p>
    <p>
      Now we have six reasons for making the Constitution. We will give the reasons:
      <ol>
        <li>To help the states live like a large family.
          <br/>
          Union [Handwritten in pencil]
        </li>
        <li>To have the same laws for all people.
          <br/>Justice [Handwritten in pencil]
        </li>
        <li>To keep the peace in our country.
          <br/>Peace [Handwritten in pencil]
        </li>
        <li>To keep our country safe.
          <br/>Protection [Handwritten in pencil]
        </li>
        <li>To help all the people to be happy.
          <br>Hepipines [Handwritten in pencil]
        </li>
        <li>To keep all our people free for all time.
          <br>Liberty [Handwritten in pencil]
        </li>
      </ol>
    </p>
  <% end %>



