<h3 id="manos" class="lesson_section">Después de leer: ¡manos a la obra!</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>After completing the pre-reading activities and working with the digital objects selected for this lesson, students are assigned a one-page text in Spanish in which they present their opinion about the multiplicity of LatinX experience as related to the promises enshrined in the Constitution.</p>

<p>Speak with your students about the differences between the promises contained in the preamble to the Constitution and the lived experience of the most vulnerable in their own community. Present students with two or three questions that help them think about and develop their own ideas about this topic. Some examples: <em> ¿Crees que existe una diferencia entre libertad de ser, libertad de hacer y libertad de pertenecer? ¿Qué quiere decir Alurista en el verso libres/albedrío of our own self assertion/and our will? ¿Qué quiere decir para ti libertad sin lágrimas? </em>.</p>

<p>To be complete this task successfully, students texts will include a premise, inference and a conclusion, and will include at least three instances of conditional + imperfect subjunctive to express an opinion, desire or evaluation. Consider presenting students with a model.</p>
