<h3 id="grammar" class="lesson_section">Focus on grammar: Use of imperfect subjunctive to express opinions and desires</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Before students begin to write their texts, briefly review the use of imperfect subjunctive to express opinions and desires.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Después de conversar sobre el tema de esta unidad, vamos a practicar nuestras habilidades de escritura en español. Regresa al texto del poema y a la página del manual de ciudadanía de Jesusita Baros Torres y piensa qué significan para ti las palabras que aparecen en el preámbulo a la Constitución. ¿Qué tienen que ver con las diferentes maneras de ser latin@ en Estados Unidos? Desarrolla tus ideas sobre este tema en un texto de una página.</p>

<p>Al escribir, no te olvides de usar la estructura que acabamos de revisar:</p>

<table class="table table-responsive table-striped">
  <tr>
    <td class="col-md-5"><p><em>Lo que yo quiero, me gusta o recomiendo…</em></p></td>
    <td class="col-md-7"><p>Lo que va a pasar si se cumple mi deseo…</p></td>
  </tr>
  <tr>
    <td><p><strong>Condicional</strong></p></td>
    <td><p><strong>Imperfecto del subjuntivo</strong></p></td>
  </tr>
  <tr>
    <td><p>Verbos que terminan en <strong>-ía</strong></p></td>
    <td><p>Verbos que terminan en <strong>-ara, -iera, -era</strong></p></td>
  </tr>
  <tr>
    <td>Me gustar<strong>ía</strong> que...</td>
    <td>supi<strong>eras</strong> que l@s latin@s somos una comunidad diversa</td>
  </tr>
  <tr>
    <td>Esperar<strong>ía</strong> que...</td>
    <td>todos disfrut<strong>ára</strong>mos de los mismos derechos</td>
  </tr>
  <tr>
    <td>Ser<strong>ía</strong> importante que…</td>
    <td>Conoci<strong>éra</strong>mos mejor nuestra historia</td>
  </tr>
</table>
