<h3 id="language">Focus on language: Communicative functions of codeswitching</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students learn about the communicative functions of codeswitching, as they practice locating information in a text, inference, and interpretation.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p><strong>Para hablar de lengua: Funciones comunicativas de la alternancia de códigos</strong></p>

<p>La alternancia o cambio de códigos (codeswitching, en inglés), es el uso de dos o más lenguas en el mismo turno de habla. Alternar efectivamente entre una lengua y otra requiere un dominio avanzado de la estructura de dos o más lenguas y es una competencia característica de las personas altamente bilingües. Además, requiere tener en cuenta factores como el entorno, el interlocutor, el tema de la conversación y la identidad étnica o social de quienes están hablando. </p>

<p>La alternancia de códigos es parte de lo que llamamos competencia bilingüe. Es un proceso diferente de la mezcla de códigos. La mezcla de  códigos (codemixing, en inglés), es lo que sucede cuando estamos empezando a aprender una segunda lengua y usamos una palabra de nuestra lengua dominante para llenar una laguna léxica.</p>

<p>El translenguaje (translanguaging, en inglés), es una práctica relacionada, que ocurre en el salón de clases cuando un@ alumn@ que está desarrollando sus habilidades lingüísticas y académicas al mismo tiempo, hace uso de los recursos de sus dos lenguas para entender y comunicar mejor lo que está aprendiendo.</p>

<p>La alternancia de códigos puede cumplir diferentes funciones comunicativas. Por ejemplo, a veces cambiamos de lengua para repetir lo que dijo otra persona en la lengua en que lo dijo (función de discurso indirecto). A veces repetimos o enfatizamos lo que acabamos de decir (repeticiones e interjecciones), a veces cambiamos de lengua para comunicar un estado emocional (codificación de emociones), y a veces usamos dos o más lenguas al mismo tiempo para jugar con el lenguaje, para hacer arte, o para contar un chiste que solo es gracioso si entiendes las dos lenguas (función retórica o expresiva). </p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Cuál es la diferencia entre la alternancia o cambio de códigos y la mezcla de códigos?</p>

<p>B. El uso del español y el inglés en el poema Libertad sin lágrimas <italics>, de Alurista, es un ejemplo de  una de las cuatro funciones comunicativas sobre las que acabas de leer. ¿Cuál? ¿Por qué? </p>

<p>C. Alurista pudo haber escrito este poema solo en inglés o solo en español. En tu opinión, ¿qué quiere decirnos sobre su identidad al usar las dos lenguas al mismo tiempo? </p>
