<h3 id="paso">Un paso más: en comunidad</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>En esta actividad vamos a conectar el tema de nuestra conversación en clase con la experiencia de algunas personas de nuestra comunidad. Entrevista a dos personas que vivan en tu ciudad, que se identifiquen como latin@s y que pertenezcan a dos generaciones distintas. Antes de comenzar, explícales que estamos platicando en clase sobre las diferentes formas de ser latin@ en los Estados Unidos.</p>

<p>Paso 1. Prepárate para anotar sus respuestas.</p>

<p>Paso 2. Pregúntale a cada un@ qué es una cosa que le gusta hacer y que le identifica como individuo, una cosa que le gusta hacer y que le identifica como miembro de la comunidad donde vive y una cosa que le gusta hacer y que le identifica como latin@.</p>

<p>Paso 3. Después, explícale que vas a leerle seis palabras, y pídele que te diga la primera palabra que le venga a la mente después de escuchar cada una. Lee cada palabra de manera clara y pausada.</p>

<p>Estas son las palabras que vas a leerle a tu entrevistad@: </p>

<ul class="list-inline">
  <li>Unión</li>
  <li>Justicia</li>
  <li>Paz</li>
  <li>Protección</li>
  <li>Felicidad</li>
  <li>Libertad</li>
</ul>

<p>Paso 4. Con el permiso de tu entrevistad@, escribe su nombre, género, ocupación, edad y lugar de nacimiento. También escribe la fecha y lugar de tu entrevista (Recuerda que en español escribimos las fechas así: día, mes, año).</p>

<p>Paso final. En clase. Trabajando en grupos de tres. Escriban en el pizarrón las respuestas de sus entrevistados, organizadas por edad, género y lugar de nacimiento. Después de eliminar las respuestas que se repiten, observen las palabras que quedan. ¿Qué cosas en común notan? ¿Cuáles son algunas diferencias que les parecen importantes/interesantes? ¿A qué creen que se deban estas diferencias tomando en cuenta la experiencia de las personas que entrevistaron?</p>
