<%= render "learn/lessons_shared/rabbit_hole" %>

<p>El poema que leíste en esta unidad habla de los “caballeros tigre”. Esta es una referencia a los <em>ocēlōpilli</em>, nombre náhuatl de los caballeros jaguar del ejército azteca. Consulta en internet y responde: ¿Quiénes eran los <em>ocēlōpilli</em>? ¿Qué características suyas quiere destacar Alurista en este poema? ¿Por qué crees que Alurista identifica a los jóvenes mexicanoamericanos de su generación con los caballeros tigre, y no con los caballeros águila?</p>
