<h3 id="manos">Después de leer: ¡manos a la obra!</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>After completing the pre-reading activities and working with the digital objects selected for this lesson, students are assigned a short reading about the history of the creation of the first Catholic parish in Denver, CO. After reading, students are asked to complete a one-page writing assignment in which they will use conditional and simple future to speculate about past and present events. Before assigning this text, consider presenting students with a model.</p>
