<h3 id="language">Focus on language: Intergenerational maintenance and loss of minority languages</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this activity, students learn about the concept of sociolinguistic register and reflect on the ways in which their own speech varies according to context, interlocutor and communicative purpose.</p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p><strong>Para hablar de lengua: Interlocutor, contexto, propósito y registro lingüístico</strong></p>

<p>Independientemente de su nivel educativo o condición social, todas las personas modifican su manera de hablar dependiendo de con quién, dónde, y para qué están hablando. La competencia sociolingüística de una persona es su capacidad para entender y producir su lengua siguiendo las normas y convenciones (sociales y lingüísticas) del evento comunicativo en el que está participando.</p>

<p>Las personas que tienen acceso formal (en la escuela) o informal (en la comunidad), a diferentes formas de hablar y escribir,  pueden comunicarse usando un mayor número de registros lingüísticos. <em> Registro lingüístico </em> quiere decir una manera de hablar o escribir condicionada por el contexto. Este contexto incluye, por ejemplo, el estatus social de los hablantes, la situación, el propósito y el lenguaje más (o menos) especializado. Las personas bilingües tienen un repertorio estilístico que incluye sus dos lenguas.</p>

<p>Una diferencia de registro importante es el nivel de formalidad. Los registros más formales de una lengua casi siempre son formas de hablar que se aprenden en la escuela, y se emplean para realizar las funciones sociales más prestigiosas (escribir un artículo científico, dar un discurso, hacer una presentación profesional, escribir un texto religioso, etc.). Los registros más informales son formas de hablar más coloquiales, que usamos con la familia o entre amigos. Por lo general, en una comunidad multilingüe las funciones más formales se realizan en la(s) lengua(s) dominantes, mientras que las funciones más informales se realizan en la(s) lengua(s) minoritaria(s).</p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Qué es un registro lingüístico?</p>

<p>B. Vuelve a leer el texto en inglés que aparece atrás del recordatorio funerario (memorial card) que la familia de Jesusita Baros Torres le entregó a familiares y amigos después de su fallecimiento en 1976. ¿Cuáles son dos o tres pistas (clues) que te permiten saber que está escrito en un lenguaje extremadamente formal?</p>

<p>C. Jesusita Baros Torres habló en español toda su vida, y perteneció durante cuatro décadas a una comunidad religiosa en la que la mayoría de los feligreses hablaba español. Sin embargo, el recordatorio de difuntos, que se distribuyó en su funeral estaba escrito en inglés. ¿Qué te dice este detalle acerca de la comunidad en la que vivía? ¿Qué te dice sobre el mantenimiento y la pérdida del español en las diferentes generaciones de su familia?</p>
