<h3 id="paso">Un paso más: en comunidad</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p>Para algunas familias latinas la fiesta de quinceaños es un rito de pasaje muy importante, porque marca el tránsito que hace una joven de la niñez a la adolescencia. Dependiendo de sus tradiciones, de sus gustos y de sus posibilidades, en algunas familias la fiesta es sencilla y se celebra en casa. En otras, es un gran baile con muchos invitados. Para otras, la parte más importante de una fiesta de quinceaños es una misa o servicio religioso en donde la joven, su familia y su comunidad le agradecen a Dios haberle permitido llegar a esa etapa de su vida.</p>

<p>Paso 1. ¿Conoces a alguien que haya celebrado su quinceañera? Pregúntale qué recuerda. ¿Qué le gustó más de la fiesta? ¿Qué le gustó menos? ¿Fue solo una fiesta, o fue también una misa o servicio religioso? ¿Cuál de las dos partes se le hizo más importante? En su opinión, ¿para quién fue esa fiesta de quinceaños, para ella, para su familia, para sus amigos, para su comunidad?</p>

<p>Paso final. En clase. Compartan y comenten las respuestas que escucharon. ¿Cómo se conectan al tema de esta unidad? Si tú misma celebraste tus quince con una fiesta de quince años, incluye tu propia respuesta en la conversación con tus compañeros. </p>
