<h3 id="antes">Antes de empezar</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>The focus of this instructional sequence is the experience of rural-to-rural Mexican immigrants during the first half of the Twentieth Century. And, more broadly, an exploration of the connection between the food that sustains us, and the work of agricultural workers around the world.</p>

<p><strong>Step 1.</strong> In class. Begin the conversation by asking students to name in Spanish what they had for breakfast.</p>

<p><strong>Step 2.</strong> Draw six columns on the board, each with one of the following headings on top: <em> Granos y legumbres, Frutas, Verduras, Carne, Lácteos, Otros </em> </p>

<p><strong>Step 3.</strong> Ask students to stand up and write the elements of their breakfast in Spanish, on the appropriate column. Place your own breakfast on the board as a model. In some instances, you may need to provide vocabulary items to help students that need scaffolding. If they come up, highlight dialectal differences as part of the variety and beauty of speaking Spanish: <em> Ay, qué interesante, tú escribiste aquí que desayunaste aguacate. Alguien de América del Sur, un chileno, por ejemplo, diría que comió palta. Interesante, ¿no?…</em></em></p>

<p><strong>Step 4.</strong> Looking at the foodstuffs on the board, and working in pairs, have students identify, and name in Spanish the ingredients that compose them. A few examples: <em> licuado de proteína: soya, suero de leche; cereal: maíz, azúcar, leche; sándwich de mantequilla de cacahuate y mermelada: harina, levadura, leche, cacahuate, fruta, azúcar.</em></p>

<p><strong>Step 5.</strong> Ask <em> ¿De dónde vino?</em> Have students retrace (in broad terms), the origin of their breakfast, until you arrive, as a group, to the level of the agricultural worker. Begin by asking students to identify, from the board, products produced in our state. Widen the scope to products produced elsewhere in the United States. Widen it yet again to include products that came to their table thanks to the work of agricultural workers in other parts of the world (coffee, chocolate, bananas, are a few examples).</p>

<p><strong>Step 6.</strong> Tie it together. Help your students make the connection: <em> Si desayunaste algo antes de venir a clase hoy, alguien, en algún lugar del mundo, tuvo que cosecharlo o producirlo. </em></p>
