<h3 id="mira" class="lesson_section">Mira otra vez, mira más de cerca</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students will analyze two personal letters that describe the gendered experience of two rural-to-rural immigrants to the United States. The first one, dated February 1923, was written by Maximino Torres to his uncle Reynaldo, shortly after his arrival in the United States. The second, dated three decades later, was written by his wife, Jesusita Baros Torres, to her adult daughter Santos.</p>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<p>As you prepare the questions that will help your students analyze these digital objects, you may wish to highlight the motivations, migratory routes and working conditions experienced by Maximino Torres. In the case of Jesusita, who at the time of writing her letter was a homemaker who took care of washing, cleaning, ironing and cooking for six adults, you may wish to highlight how her work helped her family survive both in practical and economic terms. You may also with to highlight the experience of the four male migrant workers boarding in the Torres household: <em> “Le estaba dando de comer a 4 bordantes [...] les hago su lonche, se ban á trabajar en cortar sanoría y selery” </em>. Who were they? Where were their families? Why were they there?</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Ahora vamos a explorar las maneras en las que tanto las mujeres como los hombres contribuyen con su trabajo al bienestar de las familias inmigrantes. Las dos cartas que vas a leer fueron escritas por dos esposos en décadas distintas. La primera carta, fechada en febrero de 1923, se la escribió Maximino Torres a su tío Reynaldo, poco después de llegar a Estados Unidos. La segunda, escrita tres décadas más tarde, se la envió su esposa Jesusita Baros Torres a su hija Santos, que ya era adulta.</p>

<br>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em><a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a></em>, published by the Library of Congress.</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull Transcript and Translation from TEI? -->
