<h3 id="manos">Después de leer: ¡manos a la obra!</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>After completing the pre-reading activities and working with the digital objects selected for this lesson, students are assigned a short reflective piece. Before your students begin writing, help them to identify important differences between reflective writing and others types of writing. It may be useful to begin the conversation by dividing the board in two columns, each with the heading: <em> una reflexión es..., una reflexión no es... </em></p>

<p>Help your students identify that reflective writing goes beyond description of an event or idea,  beyond summarizing. Unlike argumentative writing, with which they may be more familiar, its purpose is not to convince the reader of a thesis, but to explore connections between new information and past experiences, knowledge or feelings (Herman, 2000; Zull, 2002 in Schmidt-Wilk, 2009). For reference, consider providing your students with three paragraphs, each an example of description, a thesis statement and a self-reflection.</p>
