<h3 id="grammar">Focus on grammar: a, ha, ah</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Before students begin to write their texts, review with them the difference in meaning of homophones <em>a, ha,</em> and <em>ah</em>.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Ahora vamos a practicar nuestras habilidades de lectura y escritura. Después de escribir, no te olvides de revisar tu trabajo para no confundir <em> a, ha, ah </em>. Después de analizar las dos cartas que acabamos de leer, vas a escribir una reflexión de una página (dos páginas máximo). El tema de tu texto es éste: <em> ¿De qué manera está presente en tu vida cotidiana el trabajo de los trabajadores inmigrantes? </em></p>

<table class="table table-responsive table-striped">
  <tr>
    <td class="col-md-5">
      <p><em>a</em></p>
      <p>Preposición que puede indicar dirección, lugar, objeto, o modo de una acción.</p>
    </td>
    <td class="col-md-7">
      <p>Clemente quería ir a trabajar a Estados Unidos.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p><em>ha</em></p>
      <p>Tercera persona singular del verbo haber. Frecuentemente funciona como auxiliar de otros verbos.</p>
    </td>
    <td>
      <p>Maximino le ha escrito a su tío todos estos años.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p><em>ah</em></p>
      <p>Interjección que indica sorpresa, admiración o tristeza.</p>
    </td>
    <td>
      <p>¡Ah, cómo extraño a mis hermanos!</p>
    </td>
  </tr>
</table>
