<h3 id="antes">Antes de empezar</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>The focus of this instructional sequence is the connection between everyday objects and social experience.</p>

<p><strong>Step 1.</strong><em>In class.</em> Display image <%= link_to "Christmas Day, 1953", item_path(id: "shan_p.135") %>, and allow enough time for students to observe the image without interruptions.</p>

<p><strong>Step 2.</strong> After a few minutes, ask your students what they see. Consider displaying on the board a list of vocabulary and phrases that will help your students make a detailed description in Spanish.</p>

<p><strong>Step 3.</strong> Proceed to frame  topic of class discussion. The following script may be useful:
  <blockquote>Los objetos de la vida cotidiana nos dicen mucho sobre la experiencia social, cultural y lingüística de las personas. Lo cotidiano se desarrolla en un contexto social específico. El análisis de estos artefactos nos permite identificar características de la vida de quienes los usan. Los objetos que nos rodean en el día a día cuentan historias sobre quiénes somos, qué hacemos, y qué atesoramos.</blockquote>
</p>

<p><strong>Step 4.</strong> Ask students what they (think) they know about the people represented in the photo. Who are they? What are they like? Where do they live? What do they treasure? How do you know? After every student has contributed something in Spanish to the conversation, share with your students the information about this image: A black and white photograph of siblings William D. Schubert, Pamela L. Schubert and Robert S. Schubert, taken at home, in LIncoln, Nebraska, on Christmas Day 1953. Consider extending the conversation to help students analyze the relationship between the seer and the seen: Who took the photo (e.g., the parents)? Who is assigning value and meaning to the images we consume?</p>
