<h3 id="continuar" class="lesson_section">Para continuar la conversación</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students will practice making detailed descriptions in Spanish and will make inferences about the social and historical context of an everyday object. By analyzing and describing the image of an everyday object in their own lives, they will also reflect about their own experience.</p>

<p><strong>Step 1.</strong> Display a second image from the same home and the same historical period. This is a <%= link_to "black and white photograph", item_path(id: "shan.P076") %> of a television with tchotchkes on top.</p>

<p><strong>Step 2.</strong> Working in pairs, ask students to describe in Spanish the objects they see on top of the television. They must describe at least two characteristics (texture, use, material, volume, etc.) for each item.</p>

<p><strong>Step 3.</strong> Together, each pair of students must answer the following questions: <em>¿Qué les dicen esos objetos acerca de las personas que vivían en esa casa? ¿Por qué creen que escogieron esos objetos y no otros para colocarlos encima de la televisión?</em></p>

<p><strong>Step 4.</strong> Ask each student in the pair to look through the photos on their phone and find a photo of a thing. Without context from the owner of the image, their classmate will describe the image in Spanish and will guess why it was important for the owner to take that photo. Tie it back: Who took the photo? Who is assigning value and meaning to the images we consume?</p>
