<h3 id="mira">Mira otra vez, mira más de cerca</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>This activity includes a brief pre-activity reading, and a set of post-analysis questions that will help your students think about the context and features of the digital object with which they are working.</p>

<p>Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, you may, of course, which to add your own. A good resource to help you prepare in a time-effective manner is the <em><a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a></em>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p><strong>Para que mandes traer alguna cosa para los muchachos</strong></p>

<p>Jesusita Baros Torres nació en Juchipila, Zacatecas, México, y emigró a los Estados Unidos en la década de 1920. Vivió en Fort Lupton, Colorado, casi cuarenta años, hasta que falleció en 1976. Como sucede en muchas familias, uno de sus hijos permaneció en la misma ciudad y los demás vivieron lejos de ella. Al casarse, su hija Santos se fue a vivir a Nebraska, donde crió su propia familia.</p>

<p>Como una manera de conectarse con sus nietos y de enviarles su cariño, Jesusita ahorraba sus estampillas de cliente frecuente y se las enviaba a su hija Santos para que les comprara algo que les gustara en fechas especiales, como cumpleaños y navidad. En la carta que vas a leer, Jesusita le ofrece a Santos enviarle dos libros de estampillas desde Colorado hasta Nebraska para que las junte a las que ya tiene y compre algo para sus nietos. Las estampillas eran del supermercado Safeway, uno de los más populares en Colorado por ese entonces.</p>

<p>Las estampillas de cliente frecuente fueron muy populares en los Estados Unidos entre las décadas de 1930 y 1970. Con ellas, los supermercados buscaban atraer clientela. Para los consumidores, eran una forma de adquirir bienes de consumo como juguetes, productos para el cuidado personal y utensilios domésticos.</p>

<p>La mecánica era bastante sencilla: por cada diez centavos en compras, el cliente recibía una estampilla, que debía pegar en un libro. Estas estampillas se ahorraban hasta completar uno o más libros que podían canjearse por diversos productos. Los años cincuenta marcaron la edad de oro de estas promociones.</p>

<p>Para completar esta actividad, vas a trabajar con dos objetos digitales de la colección Shanahan. En la primera imagen hay diez estampillas de cliente frecuente (o <em>trading stamps</em>), que pertenecieron a Jesusita Baros Torres. La segunda es una carta que le escribió a su hija Santos en 1962.</p>

<br>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Present students with the set of following set of questions. If appropriate, add your own. Remember that you can save time and effort by using the <em><a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a></em>, published by the Library of Congress.</p>

<!-- TODO need a link to this letter -->
<p>A. Lee la carta [L94] e identifica tres cosas que Jesse Baros, el hijo de Jesusita, compró para su casa nueva. ¿Qué reparaciones se hicieron en casa de Jesse Baros? ¿Qué opinaba Jesusita del plan de su hijo y su nuera de comprar una casa y mudarse lejos de ella?</p>

<p>B. Al leer esta carta, notarás que algunos detalles nos dan pistas sobre la vida de quien la escribió. Por ejemplo, Jesusita no recibió mucha educación formal. Identifica tres palabras que no están escritas como las encontrarías en un libro y escríbelas en su forma estándar. Identifica dos palabras que son evidencia del contacto del inglés y el español en su comunidad.</p>

<p>C. La lengua estándar es la variedad de una lengua que aprendemos en la escuela. Las palabras <em>ayga</em> y <em>dilates</em>, que encontrarás en esta carta, son dos formas muy antiguas que sobreviven en algunas variedades de español mexicano rural. Escribe la forma estándar de estas dos palabras.</p>

<p>D. Usa el contexto para ayudarte y escribe qué pueden significar las dos palabras que aparecen resaltadas en estos dos fragmentos:</p>
<p>“Compraron <strong> una jerga </strong> muy bonita que les costo $400”
<br>
“Y al jerry le pusieron su cuarto abajo en <strong>el soterano</strong>”</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull those from TEI? -->

<h3 class="h5">Transcript</h3>

<h3 class="h5">Translation</h3>
