<h3 id="manos">Después de leer: ¡manos a la obra!</h3>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p><em>Después de leer.</em> Observa la forma en la que Jesusita empieza y termina su carta. Aunque la ortografía no es estándar, notarás que su estilo es bastante formal. Imagina que tú eres uno de los tres niños que recibió un juguete comprado con estas estampillas. Escríbele una carta en español de entre 5-10 líneas para agradecer el regalo. Incluye una descripción del juguete y de cómo lo estás usando. Por ejemplo: <em> “Muchas gracias. Con las estampillas que nos mandaste mi mamá me compró un avión para armar. Es de plástico rojo y verde y ya lo estoy armando con mis hermanos.”</em> </p>

<p>Para escoger tu juguete puedes revisar el catálogo de <em>Green Stamps</em>, que vas a encontrar <a href="http://flashbak.com/livin-the-dream-with-green-stamps-a-1975-catalog-26187/" target="_blank"><em>aquí.</em></a></p>
