<h3 id="grammar" class="lesson_section">Focus on grammar: Contrast between infinitive<br/>and gerund in Spanish</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Before students begin to write their thank you notes, review with them the contrast between infinitive and gerund in Spanish.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Después de leer. Ahora vamos a practicar nuestras habilidades de descripción. Al completar esta actividad verifica que usaste infinitivo (verbos que terminan en -ar, -er, -ir) para hablar de cosas que todavía no ocurren, y gerundio (verbos que terminan en -ando, -iendo) para hablar de cosas que están en proceso, o que están ocurriendo de manera simultánea.</p>

<p><strong>Esta es una diferencia importante entre el inglés y el español</strong></p>

<table class="table table-responsive table-striped">
  <tr>
    <td>
      <p><em>En inglés, los verbos que terminan en -ing pueden significar dos cosas distintas...</em></p>
    </td>
    <td>
      <p><em>En español usamos una terminación distinta para comunicar estos dos significados</em></p>
    </td>
  </tr>
  <tr>
    <td>
      <strong>infinitivo</strong>
      <br>
      <em>Playing is the right of every child </em>
      <br>
      <p>Verbos que funcionan como sustantivos, verbos sin conjugar.</p>
    </td>
    <td>
      <strong>infinitivo</strong>
      <br>
      <em> Jugar es un derecho de todos los niños.</em>
      <br>
      <p>Verbos que funcionan como sustantivos, verbos sin conjugar.</p>
    </td>
  </tr>
  <tr>
    <td>
      <strong>gerundio</strong>
      <br>
      <em>Pamela is playing with her doll and watching tv</em>
      <br>
      <p>Eventos que ocurren de manera simultánea o que están en proceso.</p>
    </td>
    <td>
      <strong>gerundio</strong>
      <br>
      <em>Pamela está jugando con su muñeca y viendo la televisión</em>
      <br>
      <p>Eventos que ocurren de manera simultánea o que están en proceso.</p>
    </td>
  </tr>
</table>
