<h3 id="language" class="lesson_section">Focus on language: Language contact phenomena</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students practice their reading skills while they learn about language contact phenomena.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p><strong>Para hablar de lengua: Fenómenos de contacto lingüístico</strong></p>

<p>Cada vez que los hablantes de dos o más lenguas interactúan de manera sostenida se producen fenómenos lingüísticos específicos, que son resultado de la influencia de una lengua sobre otra. Algunos, como el préstamo de palabras, ocurren en todas las lenguas. Otros son el resultado del contacto estrecho e intenso de dos o más grupos de hablantes en un mismo espacio . Por ser parte de la experiencia bilingüe de sus hablantes, los fenómenos de contacto lingüístico son una característica importante del español de los Estados Unidos.</p>

<p>Veámos algunos de ellos:</p>

<p><em>Cambio o alternancia de códigos</em></p>

<p>Es el uso de dos o más lenguas en un mismo segmento de habla o de escritura. Puede ser interoracional (cuando ocurre entre dos frases distintas), o intraoracional (cuando ocurre dentro de una misma frase).</p>

<p>Contrario a lo que pudiera parecerle a una persona monolingüe, la alternancia de códigos sigue reglas sintácticas y pragmáticas complejas que demuestran un alto nivel de bilingüismo. En la mayoría de lo casos, el cambio de código no sucede porque un hablante olvide o no conozca una palabra, sino porque conoce su dimensión simbólica.
Otros motivos para la alternancia de código son: Para dar énfasis, para demostrar solidaridad, para citar lo que dijo otra persona en el idioma que lo dijo, porque no existe un concepto equivalente, para jugar con el lenguaje, o para referirse a algo que no existe o no es común en la lengua meta (Potowski, 2010).</p>

<p><em>Préstamo</em></p>

<p>Es el empleo de una palabra de la lengua A, en una lengua B. Puede sufrir adaptaciones morfológicas o fonológicas. Por ejemplo:
“Y escríbale a don Faustín y dígale que si le pagó el <strong>taz</strong> [tax] que le mande los recibos como se los mandé yo” (préstamo morfológicamente adaptado)
Impuesto-> taz<-tax </p>

<p><em>Extensión léxica</em></p>

<p>Es el uso de una palabra que existe en la lengua A, con el significado de la lengua B.
Por ejemplo: estampilla/sello: estampa ≠ stamp </p>

<p><em>Calco</em></p>

<p>Es la traducción literal de una frase completa, de manera que la estructura es de una lengua A y el vocabulario es de la lengua B.
Por ejemplo: Ir al juzgado > Ir a la casa de corte < Go to the courthouse</p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Cuál de los fenómenos lingüísticos que se describen en esta lectura ocurre en todas las lenguas del mundo? </p>

<p>B. Vuelve a leer la carta que le envió Jesusita Baros Torres a su hija Santos en noviembre de 1958. Marca tres ejemplos de la influencia del inglés en la escritura en español de Jesusita. Identifica qué tipo de fenómeno lingüístico ilustra cada uno.</p>

<p>C. Jesusita Baros Torres era hablante nativa de español y conocía la palabra <em>navidad</em>.  Sin embargo, en su carta escribe: “Si quieres no te dilates en contestarme para mandártelas antes que se lleguen xmas”. ¿Por qué crees que cambia al inglés?</p>
