<h3 id="paso">Un paso más: en comunidad</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>En esta lección hemos practicado cómo describir objetos en español. En esta actividad vamos a practicar la descripción de lugares.</p>

<p><strong>Paso 1.</strong> Antes de clase. Piensa en el lugar de tu comunidad que más te guste. Debe ser un sitio público, que pueda reconocer otra persona que viva en tu misma ciudad. Tómale una foto y prepárate para mostrarla en clase (puedes imprimirla o mostrarla en la pantalla de tu teléfono, tableta o computadora. No esperes a clase para empezar a buscarla).</p>

<p><strong>Paso 2.</strong> En clase. Trabajando en pareja. Sin ver tu foto, tu compañer@ va a intentar adivinar tu lugar favorito a partir de tu descripción en español. Piensa bien en los adjetivos que puedes usar para describir colores, olores, ubicación, tamaño, propósito, entorno, etc.</p>

<p><strong>Paso 3.</strong> Después van a cambiar papeles y tú vas a intentar adivinar cuál es el lugar favorito de tu compañer@. En esta actividad no gana la persona que adivina, sino la persona que describió su lugar favorito con tanto detalle que le permitió a su compañer@ adivinarlo.</p>
