<h3>Migrations</h3>

<p>In many ways, the objects in this collection can be read as a map of the physical movement of three generations of the same family across two countries, and later, across several states within the same country. These digital objects, dated between 1835 and 1986, include personal letters, documents, miscellaneous items, and photographs. Personal letters were sent from ten locations in Mexico and 28 locations in the United States, to three locations in Mexico and 11 locations in the US.</p>

<p>In other ways, this collection also serves as the partial record of the transit between childhood and adulthood, between dependence on the family and economic self-reliance, between one ethnolinguistic community to another, between citizenship of one nation to citizenship of another, between socioeconomic strata, and between rural and urban identities. Reading these images as one would read a ship’s logbook, we find the account of the many ways in which several members of this family navigated through, around, and often against, racial, gender, ethnic and social expectations of their time.</p>

<p>[EXHIBIT #2 IMAGES]</p>

<%= yield %>


