<h3>Migraciones</h3>

<p>De muchas maneras, los objetos de esta colección pueden leerse como un mapa que traza el movimiento de tres generaciones de la misma familia, primero a través de dos países y más tarde, a través de varios estados del mismo país. Estos objetos digitales, fechados entre 1835 y 1986, incluyen cartas, documentos, textos misceláneos y fotografías. Las cartas fueron enviadas desde diez localidades en México y 28 localidades en los Estados Unidos, hacia tres localidades mexicanas y 11 localidades en los EU.</p>

<p>De otras maneras, esta colección también es el registro parcial del tránsito entre la niñez y la vida adulta, entre la dependencia en la familia y la autosuficiencia económica, entre una comunidad etnolingüística y otra, entre ser ciudadano de una nación o ciudadano de otra, entre estratos económicos, entre identidades rurales y urbanas. Al leer estas imágenes como cuaderno de bitácora, nos encontramos con el relato de las muchas maneras en que varios miembros de esta familia navegaron a través, alrededor (y frecuentemente en contra de) las expectativas raciales, de género, étnicas y sociales de su tiempo.</p>

<p>[EXHIBIT #2 IMAGES]</p>

<%= yield %>

