<h3>Somos más que nuestro trabajo</h3>

<p>La forma en la que nos ganamos la vida es una parte muy importante de quienes somos, especialmente entre los inmigrantes. Sin embargo, la descripción de nuestro trabajo no captura la totalidad de nuestra experiencia. Las cartas, fotografías, letras de canciones y otros objetos digitales en esta colección resaltan la complejidad de la vida en las comunidades mexicanoamericanas.</p>

<p>A través de estos objetos tenemos acceso a la historia de esfuerzo, adaptación y resistencia de muchas familias. Entramos en la parroquia, en los grupos de amigos, en el día día escolar y en los negocios locales. Recibimos noticias de la muerte de un bebé y nos enteramos de quién sufrió un accidente en la carretera. Vamos a un baile, sabemos quién se casa y qué le regalaron. Sabemos cuántos muchachos del barrio se fueron a la guerra, qué parte del pueblo es mejor para comprar una casa, qué fin de semana dan una película en español, y qué hay para la cena de navidad.</p>

<p>Probamos el sabor de los días de campo en el verano, oímos las canciones, las risas y las historias de amor. Experimentamos un poco los sueños, los planes y las aspiraciones que le sirven de combustible a nuestro trabajo y que le dan forma a una familia, a una comunidad y a una forma de ver el mundo.</p>

<p>[EXHIBIT #3 IMAGES]</p>

<%= yield %>
