<table class="table table-striped">
  <tr>
    <th class="col-md-3">
      <strong>Heritage Language Learners</strong>
      <br>
      <em>Beaudrie & Potowski, 2014</em>
    </th>
    <th class="col-md-3">
      <strong>Second Language Learners, K-12</strong>
      <br>
      <em>Nebraska K-12 Foreign Language Frameworks</em>
    </th>
    <th class="col-md-4">
      <strong>HL & L2 Advanced-Mid level learners, young adult and beyond</strong>
      <br>
      <em>ACTFL Writing Proficiency Guidelines, 2012</em>
    </th>
  </tr>
  <tr>
    <td>Development of reading and writing skills in Spanish</td>
    <td>Communicate in Languages Other than English (Goal 1)</td>
    <td rowspan="5">
      “[...] They demonstrate the ability to narrate and describe with detail in all major time frames with good control of aspect. They are able to write straightforward summaries on topics of general interest. Their writing exhibits a variety of cohesive devices in texts up to several paragraphs in length. There is good control of the most frequently used target-language syntactic structures and a range of general vocabulary. Most often, thoughts are expressed clearly and supported by some elaboration. This writing incorporates organizational features both of the target language and the writer’s first language and may at times resemble oral discourse. Writing at the Advanced Mid sublevel is understood readily by natives not used to the writing of non-natives. When called on to perform functions or to treat issues at the Superior level. Advanced Mid writers will manifest a decline in the quality and/or quantity of their writing.”
    </td>
  </tr>
  <tr>
    <td>
      Development of cohesive devices characteristic of formal varieties of written Spanish
    </td>
    <td>Gain Knowledge and Understanding of Other Cultures (Goal 2)</td>
  </tr>
  <tr>
    <td>Transfer of academic skills</td>
    <td>
      Connect with Other Disciplines and Acquire Information (Goal 3)
    </td>
  </tr>
  <tr>
    <td>Expansion of bilingual range</td>
    <td>
      Develop Insight into the Nature of Language and Culture (Goal 4)
    </td>
  </tr>
  <tr>
    <td>Awareness and appreciation of different varieties of Spanish</td>
    <td>
      Participate in Multilingual Communities at Home & Around the World (Goal 5)
    </td>
  </tr>
  <tr>
    <td>Awareness and appreciation of cultures</td>
  </tr>
</table>
