<h3 class="lesson_section" id="are_you_a_teacher">
  Are you a teacher? / ¿Eres maestr@?
</h3>
<p>Have you used the materials in this collection in your own classroom? Have a great teaching idea? Share your work! Your ideas can help us improve the quality of teaching in and about U.S. Spanish.</p>

<h3 class="lesson_section" id="note_on_nomenclature">A note on nomenclature</h5>

<p>The word Latinx has been used in all teaching materials written in English as a way to recognize the diversity of gender experiences within our communities. Used as a noun, this gender-neutral form is employed in this site to designate a person of Latin American descent from, or living in, the United States.</p>

<p>Owing to the fact that Spanish requires agreement between nouns, adjectives, and determiners, and that all nouns in Spanish are marked for grammatical gender, the alternative latin@ was employed in materials written in Spanish.</p>

