<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">More teaching ideas / Más ideas para el salón de clase </h4>
      </div>
      <div class="panel-body">
        <p>The following lesson plans were developed as part of a university course on Heritage Speaker Pedagogy, offered in the Department of Modern Languages and Literatures at the University of Nebraska, Lincoln, during the spring of 2018. The students who prepared them generously share them with other Spanish instructors. The use of these materials is permitted exclusively for non-commercial use and only with attribution to their author.</p>

        <p>TODO make PDFs and link</p>
        <%# https://drive.google.com/drive/folders/1-qSMd69UFGJwjjs19gKUXK2UPPkNkm61?usp=sharing %>
        <ol>
          <li>Conociendo el mundo por la vida privada</li>
          <li>¡Nos casamos!</li>
          <li>Dos cartas</li>
          <li>Tarjeta de cumpleaños</li>
        </ol>

        <p>
          TODO add a graphic to distinguish from UNL resource:
          <a href="https://ohiostate.pressbooks.pub/idiomacomunidad/" target="_blank" rel="nofollow noreferrer">
            OSU: Mi idioma, mi comunidad: español para bilingües
          </a>
        </p>

        <div class="row">
          <div class="col-md-6">
            <h5>Are you a teacher? / ¿Eres maestr@?</h5>
            <p>Have you used the materials in this collection in your own classroom? Have a great teaching idea? Share your work! Your ideas can help us improve the quality of teaching in and about U.S. Spanish.</p>
          </div>

          <div class="col-md-6">
            <h5>A note on nomenclature</h5>
            <p>The word Latinx has been used in all teaching materials written in English as a way to recognize the diversity of gender experiences within our communities. Used as a noun, this gender-neutral form is employed in this site to designate a person of Latin American descent from, or living in, the United States.</p>

            <p>Owing to the fact that Spanish requires agreement between nouns, adjectives, and determiners, and that all nouns in Spanish are marked for grammatical gender, the alternative latin@ was employed in materials written in Spanish.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
