<!-- not really sure if Isabel wants this section or not?? -->

<!-- <h4>Más ideas para el salón de clase / More teaching ideas</h4>

<p>Los siguientes planes de clase fueron desarrollados como parte del curso sobre Pedagogía para Hablantes de Herencia ofrecido por el Departamento de Lenguas Modernas de la Universidad de Nebraska, Lincoln, durante el semestre de primavera de 2018. Los alumnos que los prepararon los comparten generosamente con otros maestros de español. Se permite su uso exclusivamente para fines no comerciales, y siempre que se incluya el crédito de sus autores.</p>

<p>TODO Link to PDFs? <a href="https://drive.google.com/drive/folders/1-qSMd69UFGJwjjs19gKUXK2UPPkNkm61?usp=sharing" target="_blank" rel="nofollow noreferrer">https://drive.google.com/drive/folders/1-qSMd69UFGJwjjs19gKUXK2UPPkNkm61?usp=sharing</a></p> -->

<!-- TODO should order of english and spanish be the same between this
header and the one at the top of the file? -->
<!-- TODO add links to a google form on "share your work" -->

<div class="row">
  <div class="col-md-6">
    <h4>Are you a teacher? / ¿Eres maestr@?</h4>

    <p>Have you used the materials in this collection in your own classroom? Have a great teaching idea? Share your work! Your ideas can help us improve the quality of teaching in and about U.S. Spanish.</p>  
  </div>
  <div class="col-md-6">
    <h4>A note on nomenclature</h4>

    <p>The word Latinx has been used in all teaching materials written in English as a way to recognize the diversity of gender experiences within our communities. Used as a noun, this gender-neutral form is employed in this site to designate a person of Latin American descent from, or living in, the United States.</p>

    <p>Owing to the fact that Spanish requires agreement between nouns, adjectives, and determiners, and that all nouns in Spanish are marked for grammatical gender, the alternative latin@ was employed in materials written in Spanish.</p>
  </div>
</div>
