<h3 id="mira"> Mira otra vez, mira más de cerca</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p> Santos Baros, of Fort Lupton, Colorado, married William F. Schubert, of Lincoln, Nebraska, in 1946. Her mother, Jesusita Baros Torres, set three conditions to grant her blessing: that the couple remain in Colorado, that their future children speak Spanish, and that they be brought up in the Catholic faith. Over the course of the coming decades, only the latter would come to pass.</p>

<p>In this activity, students will read a letter written in 1966 by Jesusita Baros Torres to her daughter Santos. At the time this letter was sent, Santos had been married for twenty years, and had raised her family in Nebraska. As you are reading, consider presenting your students with questions that will help them to identify the clues embedded in the letter that signal:</p>

<ol class="alpha">
  <li>The emotional and economic support that both women Santos provided  one another</li>
  <li>Jesusita’s longing to interact more closely with her Nebraska grandchildren</li>
  <li>The role that geographical distance and language loss played in loss of interaction between generations in this family</li>
  <li>The language brokering activities performed by Kathy, the grandchild who spent more time with Jesusita and developed greater competence in Spanish</li>
  <li>Ways in which maintenance of Spanish help this grandchild access professional opportunities</li>
  <li>Evidence of the influence of English in Jesusita’s Spanish writing</li>
</ol>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p>Ahora vamos a leer una carta que le envió Jesusita Baros Torres a su hija Santos Baros Schubert, en 1966. Jesusita vivía en Fort Lupton, Colorado, y Santos vivía en Lincoln, Nebraska. Santos se casó en 1946 con William F. Schubert. Para darles su permiso, Jesusita estableció tres condiciones: El matrimonio debía permanecer en Colorado, sus futuros hijos debían hablar español, y debían ser criados en la fe católica.  Con el paso de los años, solo se cumpliría una de esas tres condiciones.</p>

<p>Usa las preguntas que te va a presentar tu maestr@ para ayudarte a analizar el texto de esta carta. </p>

<br>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em> Primary Source Analysis Tool</em>, published by the Library of Congress.</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull Transcript and Translation from TEI? -->

<h3 class="h5">Transcript</h3>

<h3 class="h5">Translation</h3>
