<h3 id="manos">Después de leer: ¡manos a la obra!</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>After reading the letter sent by Jesusita Baros Torres to her daughter Santos in 1966, students will write a 1-2 page text in Spanish in which they will compare both women’s linguistic experience. Using the clues embedded in the letter, as well as the information students already possess about being bilingual in the context of the United States, students will compare both women’s perceptions about the benefits and costs of Speaking Spanish both within their own household and in the wider community in which they lived. Remind students that they will use the preterite to describe things that happened once or had a clear beginning and end in the past, and imperfect to describe habitual events or states in the past.</p>
