<h3 id="language">Focus on language: Intergenerational maintenance and loss of minority languages</h3>

<h4><%= t "teach.lesson_plans.for_teachers" %></h4>

<p>In this activity, students learn about patterns of intergenerational maintenance and loss of Spanish in the context of the United States.</p>

<br>

<h4><%= t "teach.lesson_plans.for_students" %></h4>

<p><strong>Para hablar de lengua: El mantenimiento y la pérdida intergeneracional del español en Estados Unidos</strong></p>

<p>Aunque la mayoría de las personas que viven en este país hablan solamente un idioma, Estados Unidos es una nación multilingüe. En el territorio de este país se hablan más de 300 lenguas. Esto incluye lenguas nativoamericanas y también lenguas traídas de otras partes del mundo en diferentes periodos históricos gracias a la colonización, la esclavitud y la migración.</p>

<p>El español es la segunda lengua más hablada del país y la primera lengua europea hablada de manera sostenida desde antes de que Estados Unidos fuera país. Sin embargo, excepto algunas excepciones, todas las variedades coloniales de español habladas en Estados Unidos entre los siglos XVIII y XIX, fueron reemplazadas por variedades modernas desde principios del siglo XX.</p>

<p>Hoy en día, más de 40 millones de personas mayores de 5 años hablan español en casa. La comunidad de hispanohablantes de Estados Unidos, que incluye hablantes nativos y hablantes de segunda lengua, sobrepasa los 50 millones de personas.</p>

<p>A pesar de ser una nación en donde se hablan tantas lenguas, en la mayoría de nuestras comunidades existe poco apoyo para el desarrollo de las habilidades multilingües. Por lo tanto, la pérdida lingüística y la interrupción de la transmisión intergeneracional de una lengua es parte de la experiencia de muchas personas que crecieron en una familia en donde se habla una lengua diferente al inglés.</p>

<p>Por lo general, en las familias inmigrantes en las que se habla una lengua distinta al inglés, se presenta un patrón de tres generaciones: La primera generación, formada por los padres, que llegaron a una edad adulta a Estados Unidos, es dominante en la lengua de familia y aprendiz de inglés como segunda lengua. La segunda generación, formada por los hijos, que nacieron en este país o llegaron cuando eran niños es dominante en inglés, pero mantiene un nivel de competencia alto en la lengua de familia, de tal manera que frecuentemente tiene que servir como puente lingüístico y cultural entre las diferentes generaciones y culturas con las que interactúa. Con excepciones, la tercera generación, formada por los nietos de la generación que llegó a Estados Unidos, es dominante en inglés, y retiene de la lengua de familia solo algunas palabras y expresiones necesarias para participar en la vida social y emotiva de su familia.</p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Cuál es la segunda lengua más hablada de Estados Unidos?</p>

<p>B. Por lo general, en una familia inmigrante en donde se habla una lengua adicional al inglés, ¿qué generación sirve de traductor cultural y lingüístico para los miembros mayores y los más jóvenes de la familia?</p>

<p>C. ¿Creciste en una familia en donde se habla o se habló un idioma distinto al inglés? ¿Cuál(es)? ¿Sabes hablar esa(s) lengua(s)? En tu opinión, ¿Cuáles fueron algunos factores en la vida de tu familia que influyeron para que tú hables (o no), esa(s) lengua(s) hoy en día?</p>
