// Flex Layout

.map_container {
  display: flex;
  height: 79vh;
}

.map_container_main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.map_container_map {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#map {
  flex-grow: 1;
}

.map_container_sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

#map_container_info {
  flex-grow: 1;
}

// Design

#content-wrapper {
  margin-bottom: .5em;
}

.map_container {
  border: solid 5px #aaa;
  border-right: none;
  border-left: none;
}

#map_container_key {
  p {
    background: #aaa;
    color: white;
    margin: 0;
    font-size: 1em;
    text-align: center;
  }
}

.map_container_sidebar {
  background: #fff;
}

#map_container_info {
  overflow: auto;
}

.map_feature {
  /* TODO this needs to be looked at */
  height: 150px;
  overflow: auto;
}

.map_key {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px #aaa;
  padding: .5em;
  li {
    margin: 0;
    span {
      height: 3px;

      width: 1.5em;
      display: inline-block;
      margin-bottom: .3em;
    }
  }
}

#map_container_key, #map_container_info {
  font-size: .8em;
}

#map_container_info {
  padding: .5em;
}

.map_key_spanish span {
  background: blue;
}

.map_key_mix span {
  background: green;
}

.map_key_english span {
  background: yellow;
}

// queries

@media only screen and (max-width: 699px) {
  .map_container {
    display:block;
  }

  #map {
    width: 100%;
    height: 79vh;
  }

  // TODO Fix mobile view

}
