@import "bootstrap-variables";

blockquote {
  font-size: 1em;
}

/* add some spacing to the top to remove <br> tags */
h3 {
  margin-top: 50px;
}

ol {
  &.alpha {
    list-style-type: upper-alpha;
  }
  &.materials {
    list-style-type: upper-roman;
  }
  &.numbered {
    list-style-type: decimal;
  }

}

ul {
  &.focus {
    list-style-type: circle;
  }
  &.objectives {
    list-style-type: square;
  }
}

.well {
  background-color: $gray-lighter;
  margin-bottom: 40px;
  margin-top: 40px;
}
