<div class="map_container_sidebar">
  <div id="map_container_key">
    <p><%= t "research.maps.key.title" %>:</p>
    <ul class="map_key">
      <li class="map_key_spanish">
        <span></span> <%= t "research.maps.key.es" %>
      </li>
      <li class="map_key_mix">
        <span></span> <%= t "research.maps.key.both" %>
      </li>
      <li class="map_key_english">
        <span></span> <%= t "research.maps.key.en" %>
      </li>
    </ul>
  </div>
</div> <%# /key_container_key %>
