<script>

  function buildTitle(locations) {
    // "to" or "รก" depending on the language
    var joiner = " <%= t("research.maps.to").downcase %> ";
    // location is always an array but may only have one item
    // so just join if multiple
    return props["locations"].join(joiner);
  }

  function degreeOfSpanish(props) {
    // calculate percent in spanish
    es = Number(props.es) || 0;
    en = Number(props.en) || 0;

    perc_es = es/(es+en);

    color = "grey";
    if (perc_es >= .75) {
      color = "#2CB3E6";
    } else if (perc_es <= .25) {
      color = "#E74E64"
    } else if (perc_es) {
      color = "#861994"
    }
    return color;
  }

  // candidate for generalizing
  function geoJsonLayer(json) {
    return L.geoJSON(json, {
      onEachFeature: onEachFeature,
      pointToLayer: function(feature, latlng) {
        return L.circleMarker(latlng, markerOptions(feature));
      },
      style: function(feature) {
        // only draw for the lines
        if (feature.geometry.type == "LineString") {
          color = degreeOfSpanish(feature.properties);
          size = sizeCount(feature.properties);
          return { color: color, weight: size, opacity: 0.5 }
        }
      }
    });
  }

  // BIND POPUP TO DESTINATION
  function onEachFeature(feature, layer) {
    props = feature.properties;
    title = buildTitle(props["locations"])
    html = "<div class='map_feature'>";
    html += "<strong>" + title + "</strong>";
    label = props["count"]+" <%= t "research.maps.popup.letters", default: "carta(s)" %>";
    searchLink = buildLink(props["letters"]);
    html += "<p><a href=\""+searchLink+"\">View "+label+"</a></p>";
    html += "</div>";
    layer.bindPopup(html);
  };

  // STYLE DESTINATION CIRCLES
  function markerOptions(feature) {
    props = feature.properties;
    size = sizeCount(props);
    color = degreeOfSpanish(props)

    return {
      radius: size,
      color: "black",
      opacity: 1,
      weight: 0.2,
      fillColor: color,
      fillOpacity: 0.6
    }
  };

</script>
