<h3>Connections</h3>

<p>The greeting cards in this collection have much to tell us about the time they were made, and about the social experience of the people who sent and received them. The speak about design aesthetics, about representations of femininity and masculinity, about social obligations, about religious beliefs and about ties of kinship and affection. They preserve traces of the contact of Spanish and English, and the features of a social network that changed in shape and membership over the course of several decades.</p>

<p>Ornate and elaborate, these fifty one surviving cards were sent to commemorate birthdays, holidays, and other milestones like the birth of a child. They were used to send wishes of health and to update family and friends that were far away. They performed the most important function of maintaining human connection across distances.</p>

<%= yield %>
