<br/><br/>

<div class="well">

  <h2 class="h3"><%= t "research.more_resources" %></h2>

  <h3 class="h4"><%= t "research.citation" %></h3>

  <p>
    Velasco, J. I., Velázquez, I., & Avelar, J. (2018).
    <a href="https://digitalcommons.unl.edu/modlangspanish/157/" target="_blank" rel="nofollow noreferrer">From Jesusita to Jane: Personal names, self-presentation and digital preservation of Mexican American experience in the US Midwest. <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
    <em>Revista de Humanidades Digitales</em>, 2, 49-76.
  </p>

  <h3 class="h4"><%= t "research.other_projects" %></h3>

  <p>
    <a href="https://mediacommons.unl.edu/luna/servlet/UNL~111~111" target="_blank" rel="nofollow noreferrer">
      UNL: Nuestras Historias: The Nebraska Latino Heritage Collection <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </a>
  </p>

  <p>
    <a href="https://cfs.osu.edu/archives/collections/ONLO" target="_blank" rel="nofollow noreferrer">
      OSU: Oral Narratives of Latin@s in Ohio <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </a>
  </p>

  <p>
    <a href="https://spanishintexas.org/" target="_blank" rel="nofollow noreferrer">
      UT Austin: Spanish in Texas Project <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </a>
  </p>

  <p>
    <a href="https://www.si.edu/search/collection-images?edan_q=Latino&" target="_blank" rel="nofollow noreferrer">
      Smithsonian Institution: Latino image collection <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </a>
  </p>

  <p><%= t "research.contribute" %></p>

</div>
