<h1><%= t "research.title", default: "Research" %></h1>

<p>Introduction</p>

<ul>
  <li>Scholarship</li>
  <li>Linguistic Features</li>
  <li>History of Migration</li>
  <li>Sociology</li>
  <li>Encoding Decisions</li>
  <li>Lives of Everyday People</li>
  <li>Search Materials</li>
  <li>Sample Letter</li>
  <li>Contact</li>
</ul>
