<%= render "research/maps/setup" %>

<script>

  var geojson = <%= sanitize @geojson %>;

  var markerStyle = {
    radius: 4,
    color: "black",
    opacity: 1,
    weight: 0.3,
    fillColor: "navy",
    fillOpacity: 1
  }

  var photos = L.geoJSON(geojson, {
    onEachFeature: onEachFeature,
    pointToLayer: function(feature, latlng) {
      return L.circleMarker(latlng, markerStyle);
    }
  });

  photos.addTo(map);
  map.fitBounds(photos.getBounds());

  function onEachFeature(feature, layer) {
    props = feature.properties;
    html = "<div class='map_feature'>";
    html += "<strong>"+props["title"]+"</strong>";
    html += "<p>Could put link here or potentially image, although that's a lot of images to load on a page</p>";
    html += "<p>"+props["location"]+"</p>";
    html += "</div>";
    layer.bindPopup(html);
  }

</script>
