<%
images = {
  "shan_p.087" => t("explore.caption.shan_p_087"),
  "shan_p.117" => t("explore.caption.shan_p_117"),
  "shan_p.185" => t("explore.caption.shan_p_185"),
  "shan_p.455" => t("explore.caption.shan_p_455"),
  "shan_m.047" => t("explore.caption.shan_m_047"),
  "shan_p.159" => t("explore.caption.shan_p_159"),
  "shan_p.169" => t("explore.caption.shan_p_169")
}
%>

<%= render localized_partial("exhibit_03", "explore/locales") do %>

  <h2 class="gallery_heading">
    <%= t "exhibit.gallery", default: "Gallery" %>
  </h2>

  <%= render "gallery", photos: images %>

<% end %>
