<% partial = params["locale"] == "es" ? "explore/exhibit_05/es" : "explore/exhibit_05/en" %>

<%= render partial do %>
  <ul>
  <% @res.items.each do |item| %>
    <li>
      <%= link_to item["title"], item_path(params["locale"], item["identifier"]) %><br/>
      <%= sanitize item["highlight"]["text"].first %>
    </li>
  <% end %>
</ul>
<% end %>
