<%
images = {
  "shan_p.087" => "Black and white group photograph of eleven people posing in front of tree",
  "shan_p.117" => "Black and white photograph of Santos Baros Schubert and William F. Schubert on a picnic",
  "shan_p.185" => "Black and white photograph of women in China Poblana Costumes",
  "shan_p.455" => "Black and white photograph of Lucy on a bench",
  "shan_m.047" => "Song lyrics of Amar y vivir",
  "shan_p.159" => "Black and white photograph of Santos Baros Schubert and William F. Schubert kissing",
  "shan_p.169" => "Elizabeth J. Shanahan, Rodney Schubert, Gwendoly Schubert and Robert S. Schubert"
}
%>

<%= render localized_partial("exhibit_03", "explore/locales") do %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Galería
  <% else %>
    Gallery
  <% end %>
</h4>

<%= render "gallery", photos: images %>

<% end %>

<%# TODO: Adding this here so it only shows up on the pages it's needed for now, ask about best way to handle %>
<script>
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>
