<h1><%= t "explore.title", default: "Explore" %></h1>

<p>Introduction</p>

<ul>
  <li>Timeline</li>
  <li>Exhibits</li>
  <li>Greeting Cards</li>
  <li>Hairstyles</li>
  <li>Realia</li>
  <li>Music</li>
  <li>Recipe</li>
  <li>Work</li>
  <li>Religion</li>
</ul>
