<h1>Of language and life</h1>

<p>Jesusita Baros Torres lived for half a century in the United States. This collection preserves samples of over three decades of her personal correspondence. These documents offer researchers a unique perspective into the individual results of sustained, intense, and asymmetrical language contact.</p>

<p>Linguistic analysis of her correspondence allows us to study the type and intensity of the influence of English over her writing in Spanish over the course of time, as well as writing features, grammatical structures and dialectal features of Mexican American varieties of Spanish in that region of the United States.</p>

<p>At the core of this collection are 83 letters, cards and personal notes exchanged between Colorado and Nebraska by Jesusita Baros Torres and her daughter, Santos Baros Schubert, between 1956 and 1971. These letters provide us with environmental, household and individual clues to explain why this intense linguistic contact resulted in non-acquisition, loss or maintenance of Spanish by different members of the same family.</p>

<p>[Images]</p>

<%= yield %>
