<h1><%= t "explore.language_and_life.title" %></h1>

<%= t "explore.language_and_life.intro_html" %>

<% images = {
  "shan_p.427" => "",
  "shan_p.029" => "",
  "shan_l.098" => ""
} %>

<h2 class="gallery_heading">
  <%= t "explore.gallery", default: "Gallery" %>
</h2>

<%= render "gallery", photos: images %>
