<h1>Lengua y vida</h1>

<p>Jesusita Baros Torres vivió medio siglo en los Estados Unidos. Esta colección preserva muestras de su correspondencia personal escritas durante más de tres décadas. Estos documentos le ofrecen a los investigadores una perspectiva única del resultado individual del contacto lingüístico sostenido, intenso y asimétrico.</p>

<p>El análisis lingüístico de su correspondencia nos permite estudiar el tipo e intensidad de la influencia del inglés sobre su escritura en español a lo largo del tiempo, así como los rasgos de su escritura, y las estructuras gramaticales y rasgos dialectales de las variedades del español mexicanoamericano de esta región de los Estados Unidos.</p>

<p>En el centro de esta colección se encuentran 83 cartas, tarjetas y notas personales intercambiadas entre Colorado y Nebraska por Jesusita Baros Torres y su hija Santos Baros Schubert, entre 1956 y 1971. Estas cartas nos aportan pistas sobre el entorno, la familia y los individuos que nos permiten explicar por qué este contacto lingüístico intenso resultó en la no adquisición, pérdida o mantenimiento del español en diferentes miembros de la misma familia.</p>

<%= yield %>
