<%
images = {
  "shan_p.009" => t("explore.caption.shan_p_009"),
  "shan_p.183" => t("explore.caption.shan_p_183"),
  "shan_p.304" => t("explore.caption.shan_p_304"),
  "shan_d.056" => t("explore.caption.shan_d_056"),
  "shan_d.103" => t("explore.caption.shan_d_103"),
  "shan_d.138" => t("explore.caption.shan_d_138"),
  "shan_l.019" => t("explore.caption.shan_l_019")
}
%>

<%= render localized_partial("migrations", "explore/locales") do %>

  <h2 class="gallery_heading">
    <%= t "exhibit.gallery", default: "Gallery" %>
  </h2>

  <%= render "gallery", photos: images %>

<% end %>

<%# TODO: Adding this here so it only shows up on the pages it's needed for now, ask about best way to handle %>
<script>
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>
