<h1>We are more than our work</h1>

<p>The way in which we earn a living is a very important part of who we are, especially among immigrants; but the description of our work does not capture the whole of our experience. The letters, photographs, lyrics, and other digital objects in this collection highlight the complex dimensions of Mexican American communities.</p>

<p>Through these objects we access a story of family struggle, adaptation and resilience. We enter the local parish, and meet a group of friends; we visit school and local businesses. We get news of the death of a baby, and find out about someone’s highway accident. We go to a dance. We know who’s getting married and what gifts they got. We know how many boys in the neighborhood are off to war, and what is the best part of town to buy a house, and whether they’re showing a Spanish-language movie this weekend, and what’s for Christmas Eve dinner.</p>
<p>We get a taste of summer picnics, songs, laughter and love stories. We taste the dreams, the plans and aspirations that fuel our work and bind together a family, a community, a way to see the world.</p>

<%= yield %>
