<h1 class="h3">
  Uma colher, um gosto, um mundo:<br/>
  A história que contam os nossos objetos cotidianos
</h1>

<p class="h5">Marcus Vinícius Barbosa</p>

<%= link_to t("explore.objects.back"), :explore_objects %>

<p>Quero te convidar para fazer um experimento. Uma experiência bastante simples, mas reveladora. Não vamos manipular elementos radioativos; mas usaremos objetos poderosos. Eles contêm em si, assim como a nitroglicerina, uma força capaz de gerar uma grande energia. Como toda energia, ela pode mover coisas.
Quero que caminhes até a tua cozinha e procures os teus temperos. Os meus estão guardados no armário superior esquerdo, do lado do meu fogão. Era onde a minha avó paterna Jaci os guardava. Se estivéssemos na casa da minha mãe, os temperos estariam no armário embaixo da pia, da mesma maneira como a minha avó materna Vera os guardava. Os teus podem estar em um pote ou em um saco, em frasquinhos ou vidrinhos. Os meus vão estar na primeira prateleira, abaixo dos itens de confeitaria, exatamente como a minha avó Vera os guardava. Pergunto-me com quem minha avó Vera aprendeu a guardar os temperos assim, porque minha bisavó Olinda guardava ingredientes de confeitaria num quartinho – na verdade na despensa/lavanderia – do lado de fora da casa.</p>

<p>Entre os meus temperos, vais encontrar noz moscada e orégano. Na casa da minha avó Jaci vais encontrar urucum e alecrim. Na casa da minha avó Vera vais encontrar pimenta e caldo de galinha. Obviamente, tenho no meu armário outros temperos e outros sabores. Mas estes são os indispensáveis. A noz moscada vem dos meus pais; do molho branco da minha mãe e do porco assado do meu pai. O orégano vem mais do meu pai, dos corações de galinha assados na churrasqueira nos domingos ao meio-dia, mas também da minha mãe, da pizza que fazíamos quinta-feira, quando já era quase fim de semana. É claro que eu tenho urucum, mesmo nos Estados Unidos – aprendi a usar porque minha avó Jaci tinha uma árvore no pátio detrás de casa – e alecrim, tempero obrigatório para o porco – a minha avó Jaci gosta assim. O caldo de galinha é para o arroz, ainda que meu marido não goste, e a pimenta vai melhor com os caldos – é como a minha mãe gosta.
Nesse pequeno espaço, que é o meu armário de temperos, podes encontrar a história da minha família. O relato de almoços, jantares, aniversários e comemorações. Vais encontrar a minha relação com os meus pais e meus avós. E podes me conhecer melhor. Se olhares para os ingredientes de confeitaria, perceberás que fui criado pelas minhas avós. Se viesses durante as férias à minha casa, provavelmente comerias meu pão de ló, porque era o que fazíamos nas minhas férias na cozinha da minha avó Vera.</p>

<p>Agora, quero que olhes para o teu armário de temperos e penses em tudo o que ele te diz. Pense naquilo que cada um dos temperos significa, dos momentos que eles te lembram, das recordações com os teus avós e teus pais, com teus filhos e teus irmãos. Depois, olha para a tua cozinha, e vais perceber que ela também vai te dizer algumas coisas. Ela vai te falar sobre quem te criou e como aprendeste a cozinhar. Ela vai te dizer se comias em família ou sozinho, na mesa juntos ou individualmente em horas diferentes.</p>

<p>A tua casa, os teus objetos, a posição das fotos e as cores que escolhes dizem muito sobre a tua família, talvez bem mais do que pensas. Longe de serem um mero reflexo da tua opção pessoal, os objetos e a dinâmica da tua casa revelam aspectos que vão além do presente e se remontam a um passado que ultrapassa a geração dos teus pais e dos teus avós. Muitas vezes, pensamos a tradição como algo externo, institucionalizado; não nos damos conta da sua permanência no nosso cotidiano e não percebemos a ritualização da nossa vida. Sempre coloco o saco do chá antes da água na xícara. A minha mãe faz assim e me ensinou que o chá fica mais forte. Observei a minha avó Vera e percebi que ela faz o mesmo. Na minha cabeça, portanto, a mecânica da infusão do chá é sempre assim: xícara, saquinho, água fervendo. Qualquer alteração nessa ordem e o chá está ruim, fraco, sem gosto.</p>

<p>Para ir um pouco mais longe, quero dar outro exemplo da maneira na qual a coletividade interfere em nossos costumes pessoais. Já disse que sou casado e, convenhamos, o matrimônio é o palácio da negociação; antes de tudo, é o reino da negociação linguística. Por exemplo, todo bolo que não cozinha, para a minha família fica embatumado. Para a família do meu esposo, esse mesmo bolo fica abatumado. Nossa casa é, portanto, a união de duas tradições.</p>

<p>Os objetos dessa coleção ilustram as diversas negociações, no interior de uma família mexicano-americana, cuja vida é um acumulado de várias experiências, tradições, práticas. O maior valor desses objetos reside em sua capacidade de revelar não só sua singularidade, mas também seu potencial de refletir a própria experiência de quem os manipula.</p>

<p>E tu, onde guardas teus temperos?</p>
